.panel-body {
    background: #e5e5e5; /* Old browsers */
    background: radial-gradient(ellipse at center, #a5a5a5 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    font: 600 15px "Open Sans",Arial,sans-serif;
}