
.hdr_search {
    display: inline;
    float: left;
    margin-left: 24px;
    overflow: hidden;
    padding-top: 13px;
    width: 404px;
}
.hdr_search_form {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #c0c0c0 -moz-use-text-color #c0c0c0 #c0c0c0;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    color: #9a9a9b;
    display: inline-block;
    float: left;
    font-size: 14px;
    height: 34px;
    margin: 0;
    padding: 0 3px;
    width: 358px;
}
.banner-details {
    background-color: #f4444b !important;
}
.banner-exp-date1 {
    color: #f4444b !important;
}
#banner-terms-link {
    color: #f4444b !important;
}
.banner-text {
    color: #f4444b !important;
}
