
#artt_btm {
    clear: both;
}
#art_o {
    background-color: transparent;
    height: auto;
    margin: 0;
    padding: 0;
    width: 32%;
}
#art_o h2 {
    color: #4d4d4e;
    cursor: pointer;
    font: 26px/100% "BebasNeueRegular",Arial,sans-serif;
    margin: 4px 0 10px;
    padding: 0;
    text-transform: uppercase;
}
#artt_btm_cont {
    float: left;
    width: 68%;
}
.artt_btm_link {
    clear: both;
    padding-top: 12px;
    width: 100%;
}
.mta_hdr {
    color: #4d4d4e;
    font: bold 16px/100% Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}
.mta_hdr p {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
    text-transform: none;
}
.hdr-help-chat {
    display: none;
}
.hdr-help-phone {
    color: #ef9223 !important;
}
.hdr-help-phone a:link {
    color: #ef9223 !important;
    text-decoration: none;
}
.hdr-help-phone a:visited {
    color: #ef9223 !important;
    text-decoration: none;
}
.hdr-help-phone a:hover {
    color: #ef9223 !important;
    text-decoration: none;
}
.hdr-help-phone a:active {
    color: #ef9223 !important;
    text-decoration: none;
}
