
#main {
    margin-top: 12px;
}
img {
    border: 0 none;
}
h2 {
    color: #000;
    font: 36px/100% BebasNeueRegular,Arial,sans-serif;
    margin: 10px 0 6px;
    text-transform: uppercase;
}
.home-subfeature-list-4 {
    border-top: 1px solid #000;
    float: left;
    margin-right: 10px;
    width: 244px;
}
.home-subfeature-list-4-end {
    border-top: 1px solid #000;
    float: right;
    margin-left: 0;
    margin-right: 0;
    width: 243px;
}
.home-feature-text-244px {
    color: #000;
    font-family: "Times New Roman",Times,serif !important;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    width: 243px;
}
.home-feature-text-244px {
    color: #000;
    font-family: "Times New Roman",Times,serif !important;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}
.home-feature-text-244px a:link {
    color: #000;
    font-style: italic !important;
    text-decoration: none !important;
}
.home-feature-text-244px a:visited {
    color: #000;
    font-style: italic !important;
    outline: 0 none;
    text-decoration: none !important;
}
.home-feature-text-244px a:hover {
    color: #ef9223;
}
.home-feature-text-244px a:active {
    color: #000;
    font-style: italic !important;
    outline: 0 none;
    text-decoration: none !important;
}
#home-subfeature {
    list-style: outside none none;
}
.home-subfeature-list-1 {
    border-top: 1px solid #000;
    float: left;
    margin-right: 12px;
    padding-bottom: 36px;
    width: 328px;
}
.home-subfeature-list-end {
    border-top: 1px solid #000;
    float: right;
    width: 328px;
}
.home-subfeature-image {
    display: block;
    margin: 0;
    padding: 0;
}
.you-plus-art-sbr-lr {
    border: 1px solid #d6d6d6;
    height: 298px;
    width: 784px;
}
.you-plus-art-sbr-lr .you-plus-art-sbr-lr-header {
    background-color: #f1f1f1;
    color: #000;
    display: block;
    font: 36px/100% BebasNeueRegular,Arial,sans-serif;
    height: 30px;
    margin: 0 auto;
    text-transform: uppercase;
    width: 100%;
}
.you-plus-art-sbr-lr .you-plus-art-sbr-lr-body {
    background-color: #fff;
    height: 268px;
    padding: 25px;
    width: 100%;
}
.responsiveHero-wrapper {
    width: 1008px;
}
.responsiveHero-left {
    float: left;
    margin-right: 10px;
    width: 499px;
}
.responsiveHero-right {
    float: left;
    width: 499px;
}
.new-chevron::before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: "";
    display: inline-block;
    height: 0.3em;
    left: 0;
    position: relative;
    top: 0;
    transform: rotate(45deg);
    vertical-align: 1px;
    width: 0.3em;
}
.heroMain > .cta, .heroTwo > .cta, .heroThree > .cta, .heroMain-sm > .cta-sm, .heroTwo-sm > .cta-sm, .heroThree-sm > .cta-sm {
    font-weight: bold;
}
.couponcode {
    cursor: text;
}
.heroMain {
    background: rgba(0, 0, 0, 0) url("../img/gobelens/interier/interier5.jpg") repeat scroll 0 0 / cover ;
    height: 720px;
    position: relative;
    width: 499px;
}
.heroMain > p {
    color: #72a9aa;
    font: 18px/100% Helvetica,Arial,sans-serif;
    position: absolute;
}
.heroMain > .tagline {
    left: 32px;
    top: 260px;
}
.heroMain > .cta {
    left: 21px;
    top: 620px;
}
.heroTwo {
    background: rgba(0, 0, 0, 0) url("../img/gobelens/gobel9.jpg") repeat scroll 0 0 / cover ;
    cursor: pointer;
    height: 417px;
    margin-bottom: 10px;
    position: relative;
    width: 500px;
}
.heroTwo > p {
    color: #fff;
    font: 18px/100% Helvetica,Arial,sans-serif;
    margin: 0;
    position: absolute;
}
.heroTwo > .tagline {
    bottom: 0;
    left: 0;
}
.heroTwo > .cta {
    bottom: 25px;
    right: 195px;
}
.heroThree {
    background: rgba(0, 0, 0, 0) url("../img/silk/interier/interier1.jpg") repeat scroll 0 0 / cover ;
    height: 293px;
    position: relative;
    width: 499px;
}
.heroThree > p {
    color: #72a9aa;
    font: 18px/100% Helvetica,Arial,sans-serif;
    margin: 0;
    position: absolute;
}
.heroThree > .tagline {
    left: 269px;
    top: 100px;
}
.heroThree > .cta {
    bottom: 22px;
    right: 66px;
    color: #798a5d;
}
.heroMain-sm {
    background: rgba(0, 0, 0, 0) url("../img/gobelens/gobel9.jpg") repeat scroll 0 0;
    display: none;
    margin-bottom: 10px;
    position: relative;
}
.heroMain-sm > p {
    color: #72a9aa;
    font: 20px/1 Helvetica,Arial,sans-serif;
    position: absolute;
}
.heroTwo-sm {
    background: rgba(0, 0, 0, 0) url("http://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2015_SAC/hero-2.jpg") repeat scroll 0 0;
    display: none;
    margin-bottom: 10px;
    position: relative;
}
.heroTwo-sm > p {
    color: #fff;
    font: 20px/1 Helvetica,Arial,sans-serif;
    margin: 0;
    position: absolute;
}
.heroThree-sm {
    background: rgba(0, 0, 0, 0) url("http://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2015_SAC/hero-3.jpg") repeat scroll 0 0;
    display: none;
    position: relative;
}
.heroThree-sm > p {
    color: #72a9aa;
    font: 20px/1 Helvetica,Arial,sans-serif;
    position: absolute;
}
.home-switch-module {
    border: 0 none;
    display: block;
    overflow: hidden;
    padding: 0;
    width: 1008px;
}
.home-new-l {
    background-position: left top;
    background-repeat: no-repeat;
    color: #000;
    display: inline;
    float: left;
    font-size: 13px;
    margin: 0 !important;
    overflow: hidden;
    padding: 8px 0 0;
    text-align: left;
    width: 498px;
}
.home-r {
    color: #000;
    display: inline;
    float: right;
    font-size: 13px;
    margin: 0 !important;
    overflow: hidden;
    padding: 7px 0 0;
    text-align: left;
}
.switch-img-cont {
    position: relative;
}
.switch_burst {
    color: #fff;
    font-family: Helvetica;
    font-size: 10px;
    left: 28px;
    line-height: 120%;
    position: absolute;
    text-align: center;
    top: 105px;
    width: 100px;
}
.st-cat1 {
    display: block;
    float: left;
    height: 135px;
    margin: 3px;
    position: relative;
    width: 244px;
}
.st-cat1 .tag {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: #fff;
    display: block;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    left: 0;
    padding: 5px 10px;
    position: absolute;
}
.st-abstract {
    background: rgba(0, 0, 0, 0) url("http://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2015/shoptop/0210/1_abstract_new.jpg") no-repeat scroll 0 0;
    margin: 0 4px 4px 0;
}
.st-photo {
    background: rgba(0, 0, 0, 0) url("http://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2015/shoptop/0210/2_photo.jpg") no-repeat scroll 0 0;
    margin: 0 0 4px 4px;
}
.st-landscape {
    background: rgba(0, 0, 0, 0) url("http://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2015/shoptop/0210/5_landscape.jpg") no-repeat scroll 0 0;
    margin: 4px 4px 0 0;
}
.st-fine {
    background: rgba(0, 0, 0, 0) url("http://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2015/shoptop/0210/6_fine.jpg") no-repeat scroll 0 0;
    margin: 4px 0 0 4px;
}
#shop-top h2 {
    display: block;
    font-size: 36px;
    margin: 10px 0;
}
#switchart h2 {
    display: block;
    font-size: 36px;
    margin: 10px 0;
}
.homeFeature-container {
    border: 0 none;
    display: block;
    margin: 0;
    width: 1008px;
}
.homeFeature {
    border-top: 1px solid #000;
    float: left;
    margin: 25px 12px 25px 0;
}
.homeFeature a {
    background-repeat: no-repeat;
    display: block;
    height: 479px;
    position: relative;
    width: 497px;
}
.homeFeature:nth-child(2n) {
    margin-right: 0;
}
#home-feature-mostloved {
    display: none;
}
#home-feature-mostloved a {
    background-image: url("http://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2015/pagemods/discover.jpg");
}
#trackshopbywallcolor-gemini a {
    background-image: url("http://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2015/pagemods/wallcolor_bg2.jpg");
}
#homeFeature-inspiration a {
    background-image: url("http://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2015/pagemods/getinspired_spring-update.jpg");
}
#homeFeature-mta a {
    background-image: url("http://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2015/pagemods/MTA.jpg");
}
#homeFeature-p2a a {
    background-image: url("http://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2015/pagemods/P2A_Summer15.jpg");
}
.homeFeature-shadowbox {
    background: rgba(50, 50, 50, 0.8) none repeat scroll 0 0;
    bottom: 0;
    box-sizing: border-box;
    height: 152px;
    padding: 15px 10px 0 14px;
    position: absolute;
    right: 0;
}
.homeFeature-text {
    color: #fff;
    display: block;
    font: 42px/85% "BebasNeueRegular",Arial,sans-serif !important;
}
.homeFeature-cta {
    color: #fff;
    font: 20px/100% Helvetica,Arial,sans-serif;
}
.homeFeature-cta::after {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    content: "";
    display: inline-block;
    height: 7px;
    transform: rotate(-45deg);
    vertical-align: middle;
    width: 7px;
}
.homeFeature-code {
    color: white;
    display: none;
    font-family: BebasFamily;
    font-size: 16px;
    font-weight: 400;
    left: 33px;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 116px;
}
.homeSubFeature-container {
    width: 1008px;
}
.homeSubFeature-item {
    border-top: 1px solid #000;
    float: left;
    margin: 0 10px 30px 0;
    width: 244px;
}
.homeSubFeature-item:last-child {
    margin-right: 0;
}
.homeSubFeature-text p {
    color: #000;
    font: 14px/20px "Times New Roman",Times,serif;
    margin: 10px 0 5px;
}
.homeSubFeature-text a {
    color: #000;
    font: italic 14px/20px "Times New Roman",Times,serif;
    text-decoration: none;
}
.homeSubFeature-image img {
    height: auto;
    width: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: outside none none;
}
blockquote, q {
    quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    border: 0 none;
    outline: 0 none;
}
h2 {
    color: #000;
    font: 36px/100% "BebasNeueRegular",Arial,sans-serif;
    margin: 10px 0 6px;
    text-transform: uppercase;
}
.email-lb-bg {
    display: none;
    font-family: "Helvetica",Arial,sans-serif;
    font-size: 14px;
    height: 380px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    text-align: left;
    top: 150px;
    width: 600px;
}
.email-lb-cont {
    background-color: #fff;
    height: inherit;
    padding: 0;
    width: inherit;
}
.email-lb-close {
    background-color: #22b2d6;
    color: #fff;
    display: block;
    font-size: 12px;
    height: 125px;
    margin: 0 !important;
    padding: 0 !important;
    text-align: right;
    width: 100%;
}
.email-lb-close img {
    cursor: pointer;
}
.email-header {
    background-color: #22b2d6;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.email-header h1 {
    color: #fff;
    font-family: "BebasFamily",Arial,sans-serif;
    font-size: 77px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: -35px;
    text-align: center;
}
.email-header h2 {
    color: #fff;
    font-family: "BebasNeueRegular",Arial,sans-serif;
    font-size: 43px;
    margin-top: -15px;
    text-align: center;
}
.email-lb-text {
    display: block;
    margin: 0 auto;
}
.email-lb-text ul {
    clear: both;
    display: block;
    list-style-type: disc;
    margin: 15px 0 20px;
    padding: 0;
    width: 100%;
}
.email-lb-text ul li {
    margin: 0 0 0 13px;
    padding: 0;
}
.email-lb-big {
    color: #333;
    font: 20px/100% "BebasNeueRegular",Arial,sans-serif;
    text-transform: uppercase;
}
.email-lb-blue {
    color: #1cb0d7;
    font: 22px/100% "BebasNeueRegular",Arial,sans-serif;
    text-transform: uppercase;
}
.email-lb-form {
    margin: 24px auto 0;
    width: 451px;
}
.email-lb-err-incorrect, .email-lb-err-not-match {
    color: #f00;
    display: none;
    font-size: 11px;
}
.email-lb-input1, .email-lb-input2 {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    color: #888;
    float: left;
    font-size: 15px;
    height: 26px;
    margin: 0;
    padding-left: 6px;
    padding-right: 0;
    width: 312px;
}
form#lb-email-form .button {
    background: #000 none repeat scroll 0 0;
    color: #fff !important;
    vertical-align: bottom;
}
form#lb-email-form .button:hover {
    background: #fff none repeat scroll 0 0 !important;
    border: 1px solid #000 !important;
    color: #000 !important;
}
.email-lb-btn {
    border: 0 none;
    float: right;
    font-family: "BebasNeueRegular",Arial,sans-serif;
    font-size: 22px !important;
    height: 30px;
    letter-spacing: 1px;
    margin: 0;
    padding-top: 4px !important;
    width: 130px;
}
.email-lb-btm {
    clear: both;
    display: block;
    font-size: 12px;
    margin: 0 50px;
}
div#emailPopUp {
    opacity: 0;
}
.headertext {
    color: #888;
    display: block;
    font-family: "BebasNeueRegular",Arial,sans-serif;
    font-size: 42px;
    line-height: 39px;
    padding-top: 20px;
    text-align: center;
}
.dealtext {
    color: #22b2d6;
    display: block;
    font-family: "BebasNeueRegular",Arial,sans-serif;
    font-size: 42px;
    text-align: center;
}
.disclaim {
    color: #888;
    display: block;
    font-family: Helvetica;
    font-size: 12px;
    margin-top: 50px;
    text-align: center;
}
.e-asterisk {
    font-size: 18px;
    left: 2px;
    position: relative;
    top: -17px;
}
.makeitblue {
    color: #22b2d6;
}
.clear {
    clear: both;
}
input[type="text"], input[type="submit"] {
    border-radius: 0;
}
.button::-moz-focus-inner {
    border: 0 none;
}
@media only screen and (min-width: 667px) and (max-width: 765px) {
    .email-lb-bg {
        width: 600px;
    }
    .email-lb-cont {
        width: 600px;
    }
}
@media only screen and (min-width: 470px) and (max-width: 666px) {
    .email-lb-bg {
        width: 460px;
    }
    .email-lb-input1, .email-lb-input2 {
        margin-left: 60px;
        width: 200px;
    }
    .email-lb-err-incorrect {
        margin-left: 60px;
    }
    .email-lb-btn {
        float: left;
        width: 100px;
    }
    .email-header h1 {
        font-size: 70px;
    }
    .email-header h2 {
        font-size: 40px;
    }
    .email-lb-text {
        float: left;
        margin-left: 0;
    }
    .email-lb-cont {
        width: 460px;
    }
    .headertext {
        font-size: 40px;
        line-height: 40px;
    }
    .dealtext {
        font-size: 30px;
    }
    .disclaim {
        margin-top: 0;
    }
    .email-lb-btm {
        float: left;
        margin: 0 45px;
    }
    .e-asterisk {
        font-size: 16px;
        left: 2px;
        position: relative;
        top: -19px;
    }
}
@media only screen and (max-width: 470px) {
    .email-lb-bg {
        height: 350px;
        top: 50px;
        width: 300px;
    }
    .email-lb-form {
        width: 300px;
    }
    .email-header h1 {
        font-size: 50px;
        margin-top: -25px;
    }
    .email-header h2 {
        font-size: 28px;
        margin-top: -5px;
    }
    .email-lb-close {
        height: 110px;
    }
    .email-lb-text {
        float: left;
        margin-left: 0;
        padding: 0;
        width: 300px;
    }
    #lb-email-form {
        margin: 0 25px;
    }
    .email-lb-input1 {
        padding-right: 1px;
        width: 241px;
    }
    .email-lb-btn {
        width: 100%;
    }
    .email-lb-err-incorrect {
        font-size: 12px;
        margin: -5px 0 5px;
    }
    .email-lb-btn {
        margin: 5px 0 0;
        width: 100%;
    }
    .email-lb-cont {
        width: 300px;
    }
    .email-lb-btm {
        margin: 0 25px;
    }
    .headertext {
        font-size: 30px;
        line-height: 30px;
        margin: 0;
        padding: 10px 0 0;
    }
    .disclaim {
        margin-top: 10px;
    }
    .dealtext {
        font-size: 28px;
    }
    .e-asterisk {
        font-size: 16px;
        left: 2px;
        position: relative;
        top: -15px;
    }
}
@media only screen and (max-device-width: 667px) and (orientation: landscape) {
    .email-lb-bg {
        top: 0;
        z-index: 2;
    }
    .email-lb-err-incorrect, .email-lb-err-not-match {
        font-size: 12px;
        margin-left: 60px;
    }
    .email-lb-close {
        height: 90px;
    }
    .email-header h1 {
        font-size: 50px;
    }
    .email-header h2 {
        font-size: 28px;
    }
    .headertext {
        font-size: 38px;
        line-height: 100%;
    }
    span.disclaim {
        margin-top: 10px;
    }
    .email-lb-input1, .email-lb-input2 {
        padding: 1px 0 1px 7px;
    }
}
@media not all {
    .email-lb-bg {
        width: 600px;
    }
    .email-lb-cont {
        width: inherit;
    }
    .email-lb-err-incorrect, .email-lb-err-not-match {
        font-size: 16px;
    }
    input.email-lb-input1 {
        width: 300px;
    }
    input.button.email-lb-btn {
        height: 34px;
        width: 134px;
    }
}
