<!DOCTYPE html>
<html lang="en">
<head>
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="../public_html/js/jquery-ui-1.11.4.cupertino/jquery-ui.min.css">
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="../public_html/css/main.css">
    <!--suppress HtmlUnknownTarget -->
    <script src="../public_html/js/jquery-ui-1.11.4.cupertino/external/jquery/jquery.js"></script>
    <!--suppress HtmlUnknownTarget -->
    <script src="../public_html/js/jquery-ui-1.11.4.cupertino/jquery-ui.min.js"></script>
    <!--suppress HtmlUnknownTarget -->
    <script src="../public_html/js/adminPanel.js"></script>
    <meta charset="UTF-8">
    <title>Админ панель</title>
</head>
<body>
<div id="infoDialog" style="display: none"></div>

<h2>Добавление новой категории</h2>

<form id="addCategoryForm" method="post" onsubmit="return ajaxAdminPanelSubmit('addCategory');">
    <input type="hidden" name="action" value="addCategory">
    <label>
        <span>Название категории: </span>
        <input name="categoryName" type="text">
    </label>
    <br><br>
    <input id="addCategoryButton" type="submit" value="Добавить">
</form>

<h2>Редактирование категории</h2>

<form id="updateCategoryForm" method="post" onsubmit="return ajaxAdminPanelSubmit('updateCategory');">
    <input type="hidden" name="action" value="updateCategory">
    <label class="categoryList">
        <span class="error" style="display: none">{{ error }}</span>
        <select name="categoryId">
            {% for key, value in categoriesOption %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
    </label>
    <br><br>
    <label>
        <span>Изменить название на: </span>
        <input name="updateCategoryName" type="text">
    </label>
    <br><br>
    <input id="updateCategoryButton" type="submit" value="Обновить">
</form>
<h2>Удаление существующей категории</h2>

<form id="deleteCategoryForm" method="post" onsubmit="return ajaxAdminPanelSubmit('deleteCategory');">
    <input type="hidden" name="action" value="deleteCategory">
    <span>Название категории: </span>
    <label class="categoryList">
        <span class="error" style="display: none">{{ error }}</span>
        <select name="categoryId">
            {% for key, value in categoriesOption %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
    </label>
    <br><br>
    <input id="deleteCategoryButton" type="submit" value="Удалить">
</form>
<h2>Добавление нового типа продукта</h2>

<form id="addProductTypeForm" method="post" onsubmit="return ajaxAdminPanelSubmit('addProductType');">
    <input type="hidden" name="action" value="addProductType">
    <label>
        <span>Название типа продукта: </span>
        <input name="productTypeName" type="text">
    </label>
    <span>Поместить в категорию: </span>
    <label class="categoryList">
        <span class="error" style="display: none">{{ error }}</span>
        <select name="productCategoryId">
            {% for key, value in categoriesOption %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
    </label>
    <br><br>
    <input id="addProductTypeButton" type="submit" value="Добавить">
</form>

<h2>Редактирование типа продукта</h2>

<form id="updateProductTypeForm" method="post" onsubmit="return ajaxAdminPanelSubmit('updateProductType');">
    <input type="hidden" name="action" value="updateProductType">
    <span>Тип продукта: </span>
    <label class="productTypeList">
        <span class="error" style="display: none">{{ error }}</span>
        <select name="productTypeId">
            {% for key, value in productTypeOption %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
    </label>
    <br><br>
    <label>
        <span>Новое название: </span>
        <input name="updateProductTypeName" type="text">
    </label>
    <span>Поместить в категорию: </span>
    <label class="categoryList">
        <span class="error" style="display: none">{{ error }}</span>
        <select name="productCategoryId">
            {% for key, value in categoriesOption %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
    </label>
    <br><br>
    <input id="updateProductTypeButton" type="submit" value="Обновить">
</form>
<h2>Удаление существующего типа продукта</h2>

<form id="deleteProductTypeForm" method="post" onsubmit="return ajaxAdminPanelSubmit('deleteProductType');">
    <input type="hidden" name="action" value="deleteProductType">
    <span>Название типа продукта: </span>
    <label class="productTypeList">
        <span class="error" style="display: none">{{ error }}</span>
        <select name="productTypeId">
            {% for key, value in productTypeOption %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
    </label>
    <br><br>
    <input id="deleteProductTypeButton" type="submit" value="Удалить">
</form>
<h2>Загрузка изображений</h2>

<form id="addImageForm" method="post" enctype="multipart/form-data">
    <input type="hidden" name="action" value="uploadImages">
    <input type="file" name="productImage[]" accept="image/*" multiple>
    <br><br>
    <input id="uploadImagesButton" type="submit" value="Загрузить">
</form>
<h2>Удаление изображения</h2>

<form id="deleteImageForm" method="post" onsubmit="return ajaxAdminPanelSubmit('deleteImage');">
    <input type="hidden" name="action" value="deleteImage">
    <label class="imagesList">
        <select name="deleteProductImage">
            {% for key, value in productImageOption %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
    </label>
    <br><br>
    <input id="deleteImagesButton" type="submit" value="Удалить">
</form>
<h2>Добавление продукта</h2>

<form class='panel-body' id="addProductForm" method="post">
    <input type="hidden" name="action" value="addProduct">
    <span>Изображение продукта: </span>
    <label class="imagesList">
        <select name="productImage">
            <option value=""></option>
            {% for key, value in productImageOption %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
    </label>
    <label><span>Название продукта: </span>
        <textarea name="productName" maxlength="255" style="vertical-align: middle"></textarea>
    </label>
    <label><span>Описание продукта: </span>
        <textarea name="productDescription" maxlength="255" style="vertical-align: middle"></textarea>
    </label>
    <span>Относится к типу: </span>
    <label class="productTypeList">
        <span class="error" style="display: none">{{ error }}</span>
        <select name="productTypeId">
            {% for key, value in productTypeOption %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
    </label>
    <label>
        <span>Размер: </span>
        <input type="text" name="productSize" size="12">
    </label>
    <label>
        <span>Цена: </span>
        <input type="text" name="productPrice" size="12">
    </label>
    <br><br>
    <input id="addProductButton" type="submit" value="Добавить">
</form>
<h2>Удаление существующего продукта</h2>

<form id="deleteProductForm" method="post" onsubmit="return ajaxAdminPanelSubmit('deleteProduct');">
    <input type="hidden" name="action" value="deleteProduct">
    <span>Название продукта: </span>
    <span id="errorProduct" style="display: none">{{ error }}</span>
    <label class="productList">
        <span class="error" style="display: none">{{ error }}</span>
        <select id="productName" name="productId">
            {% for key, value in productOption %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
    </label>
    <br><br>
    <input id="deleteProductButton" type="submit" value="Удалить">
</form>
</body>
</html>