<span class="error" style="display: none">{{ error }}</span>
<select id="productName" name="productId">
    {% for key, value in productOption %}
    <option value="{{ key }}">{{ value }}</option>
    {% endfor %}
</select>