<span class="error" style="display: none">{{ error }}</span>
<select id="{{adminListId}}" name="categoryId">
    {% for key, value in categoriesOption %}
    <option value="{{ key }}">{{ value }}</option>
    {% endfor %}
</select>