<span class="error" style="display: none">{{ error }}</span>
<select name="deleteProductImage">
    <option value=""></option>
    {% for key, value in productImageOption %}
    <option value="{{ key }}">{{ value }}</option>
    {% endfor %}
</select>