<span class="error" style="display: none">{{ error }}</span>
<select name="productTypeId">
    {% for key, value in productTypeOption %}
    <option value="{{ key }}">{{ value }}</option>
    {% endfor %}
</select>