<div class="galmin_top_space clear"></div>

{% for productDesc in galmin %}
<div class="galThumbContainer" id="{{ productDesc.product_id|e }}">
    <div class="hidden" id="hiddenValues"
         data=>
    </div>
    <div class="galImageContainer">
        <div class="galImageCell">
            <a href="../{{ productDesc.product_image|e }}">
                <img class="galImage  "
                     src="../{{ productDesc.product_image|e }}"
                     alt="{{ productDesc.product_name|e }}"
                     title="{{ productDesc.product_name|e }}" width="120" height="160"
                     border="0"/>
            </a>
        </div>
    </div>
    <div class="galDetailsContainer">
        <div class="galTitle">
            {{ productDesc.product_name|e }}
        </div>
        <div class="galArtistProduct">
            <a class="gal-artist"
               href="http://www.romvek.ru/gallery/{{ productDesc.product_type_id|e }}"
               title="{{ productDesc.productType|e }}">
                {{ productDesc.product_type_id|e }}</a>

            <div class="gal-type-size">
                <span class="gal-product-size">{{ productDesc.size|e }}"</span>
                <span class="galProductType">{{ productDesc.description|e }}</span>

                <div style="clear:both"></div>
                <div style="clear:both"></div>
            </div>
        </div>
        <div class="galPricing ">
<span class="galPrice">
                   {{ productDesc.price|e }}</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="galActionsContainer" style="display:none;">
        <div class="galActions">
            <div class="galAddToCart galButton"
                 onclick="CartPop(this, '0', '13856207', 'A', '1824', '&iSalesCategoryId=1824&dimVals=1824', 'true', '3459566');">
                Заказать
            </div>
            <div class="galFrameIt galButton  "
                 onclick="SifPop(this, '0', '13856207', 'A', 'true');">Frame It
            </div>
            <div style='display:none;'>
                {ImageUrl:'http://cache2.artprintimages.com/p/MED/26/2662/JIGUD00Z/art-print/peter-adams-arc-de-triomphe-paris-france.jpg',Imageid:2742236,ItemId:0,Width:338,Height:450,ZoneProductID:'13856207A',ItemPrice:'34.99',Price:'$34.99',ArtistName:'Peter
                Adams',ArtistId:22107,Title:'Arc de Triomphe Paris
                France',PODConfigID:4990875,APNum:3459566,AvailableInOtherSizes:'true',ItemDisplayTypeID:97,Source:'GalleryPage'}
            </div>
            <div id="gal-save-to-gal" class="gal-save-to-gal hidden"
                 onclick="var imageObj = {ImageUrl:'http://cache2.artprintimages.com/p/MED/26/2662/JIGUD00Z/art-print/peter-adams-arc-de-triomphe-paris-france.jpg',Imageid:2742236,ItemId:0,Width:338,Height:450,ZoneProductID:'13856207A',ItemPrice:'34.99',Price:'$34.99',ArtistName:'Peter Adams',ArtistId:22107,Title:'Arc de Triomphe  Paris  France',PODConfigID:4990875,APNum:3459566,AvailableInOtherSizes:'true',ItemDisplayTypeID:97,Source:'GalleryPage'}; CallSaveToGalleryMenu(imageObj);"></div>
            <div id="FilteredItemLeastZProductID" style="display:none"></div>
            <div id="FilteredItemLeastPODConfig" style="display:none"></div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="clear"></div>
<div id="ctl00_ctl00_mc_mc_rc_trackingJScript"></div>
<div id="ctl00_ctl00_mc_mc_rc_GAJScript"></div>
