<div class="hdr-artbox">
    <div class="hdr-artbox-ptr">
        <div class="headDD_sub">
            <img src="http://cache1.artprintimages.com/images/jump_pages/rebrand/header/hdrarw2.png"
                 style="margin-left:174px; margin-top:-12px; display:block;">

            {% for productDesc in topSIXProductsTopMenuTop %}
            <a id="sub{{ productDesc.id }}" href="http://www.romvek.ru/gallery/">
                <div class="sub-top-link">{{ productDesc.productTypeName }}</div>
            </a>
            {% end for %}

            <div style="clear:both"></div>
            <div id="sub_btm">
                {& for topCategiryTopMenuBottom&}
                <div id="sub_btm_cont">
                    <h2>
                        <a href="http://www.romvek.ru/shop/art-subjects/">Аксессуары</a>
                    </h2>

                    <div class="sub_btm_col mr62">
                        <a href="http://www.romvek.ru/~/kids/">Карнизы</a>
                        <a href="http://www.romvek.ru/gallery/id--b1849/astronomy-space-posters.htm">Подушки</a>
                        <a href="http://www.romvek.ru/gallery/id--b179560/beverages-posters.htm">Кисти</a>

                    </div>
                    <div class="sub_btm_col mr62">
                        <a href="http://www.romvek.ru/gallery/id--b2847/dance-posters.htm">Скатерти</a>
                        <a href="http://www.romvek.ru/gallery/id--b12118/education-posters.htm">Ткань</a>

                    </div>
                    <div class="sub_btm_col mr62">
                        <a href="http://www.romvek.ru/gallery/id--b16123/book-illustration-posters.htm">Шнуры</a>
                        <a href="http://www.romvek.ru/gallery/id--b12105/comics-posters.htm">Салфетки</a>
                    </div>
                </div>
                {% end for %}
                <div style="clear:both;"></div>
                <div class="sub_btm_link">
                    <a href="http://www.romvek.ru/shop/art-subjects/">Смотреть все категории</a>
                </div>
            </div>
        </div>
    </div>
</div>