#outerblock_gray {
    width: 100%
}

.feature_lftbox {
    float: left;
    width: 301px;
    #width: 319px;
    padding-left: 18px
}

.feature_rtbox {
    float: right
}

.feature_txtbox {
    font: 11px/13px Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    padding: 11px 15px 10px 0
}

.feature_txtbox a {
    font: 11px Verdana, Arial, Helvetica, sans-serif
}

.feature_txtbox a:link {
    text-decoration: none;
    color: #FFF
}

.feature_txtbox a:visited {
    text-decoration: none;
    color: #FFF
}

.feature_txtbox a:hover {
    text-decoration: underline;
    color: #FFF
}

.feature_txtbox a:active {
    text-decoration: none;
    color: #FFF
}

div.atb-top-cntnr {
    padding: 20px 0 10px 0;
    width: 590px
}

div.atb-top-lft {
    width: 322px;
    float: left;
    padding-left: 10px;
    text-align: left
}

div.atb-title {
    padding-bottom: 9px
}

div.learnmore_cntnr {
    padding-left: 40px;
    font: 10px Verdana, Arial, Helvetica, sans-serif;
    color: #0072bc;
    cursor: pointer
}

div.atb-top-rht {
    float: right
}

div.atb-top-rht2 {
    float: right
}

div#atb-btm-cntnr {
    padding: 0 20px 20px 50px;
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    line-height: 14px;
    color: #000;
    text-align: left
}

div.fap-top-container {
    background-color: #b2b288;
    height: 183px;
    padding: 0;
    border: solid 1px #c0b5b1;
    margin-left: 5px
}

div.fap-top-lft {
    text-align: left;
    width: 204px;
    float: left
}

div.fap-top-rht {
    width: 239px;
    float: right
}

.PageContainer {
    padding-left: 0;
    width: 100%
}

.thmbbx {
    border-bottom: 1px solid #bbb;
    border-right: 1px solid #bbb;
    margin-top: -1px;
    text-align: left;
    width: 195px;
    float: left
}

.thmbbx1 {
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    margin-top: -1px;
    text-align: left;
    width: 195px;
    float: left
}

.thmbbxtop {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-right: 1px solid #bbb;
    margin-top: -1px;
    text-align: left;
    width: 195px;
    float: left
}

.thmbbxtop1 {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    margin-top: -1px;
    text-align: left;
    width: 195px;
    float: left
}

.lnht4 {
    line-height: 4px
}

.lnht10 {
    line-height: 10px
}

.lnht20 {
    line-height: 20px
}

#galleft {
    width: 199px;
    float: left;
    min-height: 20px;
    font-size: 12px;
    text-transform: uppercase
}

#galright {
    vertical-align: top !important;
    padding-left: 24px;
    #padding-left: 21px;
    width: 784px;
    float: right;
    border-left: 1px solid #D6D6D6
}

.imgFrm {
    border: 1px solid #ccc
}

.dimItemImgDiv {
    text-align: center;
    float: left
}

.dmsrch {
    border-top: 1px solid #000;
    width: 787px
}

.dmitm {
    float: left;
    width: 80px;
    font-size: 10px
}

.dmsrchviewall {
    float: left;
    margin-left: 20px;
    padding-top: 19px;
    line-height: 11px;
    width: 65px;
    font-size: 10px
}

.dmsrcharrow {
    COLOR: #666;
    TEXT-DECORATION: none;
    font-size: 7px;
    letter-spacing: .1px
}

.dmsrchparent {
    color: #666;
    height: 27px
}

.dmsrchtitle_AB {
    float: left;
    font-size: 24px;
    color: #222;
    text-transform: uppercase
}

.dmsrchtitle {
    color: #666;
    font-size: 10px;
    padding: 10px 23px
}

.dmsrchseeall {
    padding: 8px 8px 0 0;
    float: right;
    cursor: pointer
}

.dmsrchseeall:hover {
    text-decoration: underline;
    color: #0072bc
}

.galmin {
    min-height: 1000px;
    border: 0;
    float: right;
    width: 785px
}

* html .galmin {
    /*\*/
    height: 570px;
    border: 0
}

.galwidth {
    width: 1008px;
    margin: 0 auto
}

.galHeadline {
    padding: 4px 0 10px 0
}

.galleryTitle {
    font-size: 13px;
    font-weight: bold
}

.galDisp {
    font-size: 10px;
    color: #666
}

.wdth160 {
    width: 160px
}

.abs {
    position: absolute
}

.w8 {
    width: 8px
}

.h8 {
    height: 8px
}

.h9 {
    height: 9px
}

img.thmbd {
    border: 0;
    top: 0;
    left: 0;
    border-top: solid 1px #e7e7e7;
    border-left: solid 1px #e7e7e7;
    position: absolute
}

img.thmbd_StretchedCanvas {
    border: 0;
    top: 0;
    left: 0;
    border-top: #e7e7e7;
    border-left: #e7e7e7;
    position: absolute
}

.lrg {
    width: 10px;
    height: 10px;
    border: 0
}

.iconsif {
    border: 0;
    cursor: pointer;
    margin: 4px 10px -5px 12px;
    width: 34px;
    height: 43px
}

.iconcnf {
    border: 0;
    cursor: default;
    margin: 4px 10px -5px 12px;
    width: 34px;
    height: 43px
}

.iconcart {
    border: 0;
    cursor: pointer;
    margin: 4px 10px -5px 12px;
    width: 34px;
    height: 43px
}

.icongal {
    border: 0;
    cursor: pointer;
    margin: 4px 10px -5px 12px;
    width: 34px;
    height: 43px
}

.iconwl {
    border: 0;
    cursor: pointer;
    margin: 0 10px 0 15px;
    width: 60px;
    height: 19px
}

.pdLink {
    color: #0072BC;
    padding-bottom: 2px
}

/**/
td {
    font-size: 12px
}

.pLnk {
    color: #888;
    padding-bottom: 2px
}

.pDetailsItem {
    color: #666;
    padding-bottom: 2px
}

.pDetailsTitleMed, .pDetailsTitleLg {
    font-size: 12px;
    font-weight: bold;
    color: #666
}

.productListOn {
    CURSOR: pointer;
    BACKGROUND-COLOR: #f3fef9
}

.productListOff {
    BACKGROUND-COLOR: #fff
}

.productListSelected {
    BACKGROUND-COLOR: #f1f7fe
}

.pttl {
    COLOR: #666;
    LINE-HEIGHT: 13px
}

.ProductDisplayTitle {
    COLOR: #000
}

.pDsp {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #666;
    LINE-HEIGHT: 13px
}

.pDsp41 {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #666;
    LINE-HEIGHT: 13px;
    height: 38px
}

.productheader {
    VERTICAL-ALIGN: middle;
    COLOR: #000;
    LINE-HEIGHT: 10px
}

.productpagedisplayavail {
    PADDING-BOTTOM: 4px;
    COLOR: #88885c;
    LINE-HEIGHT: 13px
}

.pagetopagenav {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-TOP: 1px;
    TEXT-ALIGN: center
}

.pagetopagenavactive {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    COLOR: #fff;
    BACKGROUND-COLOR: #666
}

.pType {
    VERTICAL-ALIGN: middle;
    TEXT-ALIGN: center;
    color: #666;
    font-size: 10px;
    LINE-HEIGHT: 15px;
    TEXT-DECORATION: none;
    padding-bottom: 3px;
    background-color: #f8f8f8
}

.PageNavLinks {
    FONT-WEIGHT: bold;
    COLOR: #666;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}

.galleryPriceRed {
    COLOR: #b31b34;
    FONT-SIZE: 11px;
    FONT-STYLE: italic;
    TEXT-DECORATION: line-through
}

.galleryPriceStrike {
    COLOR: #666;
    FONT-SIZE: 11px;
    TEXT-DECORATION: line-through
}

.gallerySalePrice {
    COLOR: #ED1C24;
    font-weight: bold;
    font-style: italic
}

#galleryTopInfo {
    color: #666;
    margin-left: 2px
}

#pageNav {
    text-align: left;
    width: 100%;
    padding-top: 0
}

#pageNav h1 {
    margin-top: 16px
}

#pageNav a {
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none
}

#pageNav .currentPage {
    font-size: 12px;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 1px;
    color: #000
}

#pageNav .Next {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -49px -26px;
    width: 18px;
    height: 18px;
    vertical-align: bottom;
    border: 0
}

#pageNav .Next:hover {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -49px -47px;
    width: 18px;
    height: 18px;
    vertical-align: bottom;
    border: 0
}

#pageNav .Previous {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -27px -26px;
    width: 18px;
    height: 18px;
    vertical-align: bottom;
    border: 0
}

#pageNav .Previous:hover {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -27px -47px;
    width: 18px;
    height: 18px;
    vertical-align: bottom;
    border: 0
}

#galleryTopInfo .galleryTitle {
    font-size: 13px;
    font-weight: bold;
    color: #4C3327
}

#galleryTopInfo .sortBox {
    padding-top: 4px
}

#galleryTopInfo .galleryTopRight {
    text-align: right;
    line-height: 150%;
    vertical-align: bottom;
    font-size: 10px;
    color: #666
}

#galleryTopInfo .galleryTopRight a:link {
    font-size: 10px;
    color: #0072BC
}

#galleryTopInfo .sortForm {
    display: inline;
    margin: 0;
    padding: 0;
    height: 1px;
    padding-top: 3px
}

.galmatchbread {
    width: 470px;
    float: left;
    padding-top: 20px;
    text-decoration: none
}

.galmatchbox {
    border-top: 1px solid #ddd;
    clear: both;
    width: 586px;
    padding: 5px
}

.galmatchitem {
    width: 100px;
    float: left;
    text-align: center
}

.galmatchimage {
    border: 0;
    padding: 0 10px
}

#filterNav_box {
    width: 180px;
    margin: 0;
    text-align: left;
    padding-bottom: 10px
}

#filterNav_box a {
    text-decoration: none
}

#filterNav_box a:hover {
    text-decoration: underline
}

#filterNav_title {
    display: block;
    width: 100%
}

.filterNav_title-text {
    font-weight: bold;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 2px;
    padding-bottom: 2px;
    text-align: left
}

#filterNav_box ul {
    margin: 0;
    padding: 0;
    margin-left: 5px;
    list-style: none
}

#filterNav_box li {
    margin: 0;
    padding: 0;
    margin-left: 13px;
    margin-top: 7px
}

#filterNav_box .selected {
    list-style: url(http://cache1.artprintimages.com/images/pub/navigation/left_nav/2006-10-11/select_arrow.gif)
}

.bx {
    border-bottom: 1px solid #bbb;
    border-right: 1px solid #bbb
}

.prdGllryDiv {
    width: 100%
}

.holiday_GiftBox_2010 {
    background-image: url('http://cache1.artprintimages.com/images/holiday-shipping/ARTCOM_GALLERY_PRESENTICON.png');
    background-repeat: no-repeat;
    width: 108%;
    background-position: 5px 50%
}

.holiday-shipping-green-font {
    color: #089606;
    font-size: 10px;
    font-weight: bold;
    padding-left: 12px
}

.pCntr {
    width: 100%;
    text-align: center;
    line-height: 13px;
    color: #000;
    font-size: 10px
}

.pDp {
    color: #666;
    font-size: 10px
}

.pCntr a:link {
    color: #0072BC
}

.dvContainer {
    #position: relative;
    overflow: hidden;
    display: table;
    width: 100%
}

.dvContainMid {
    #position: absolute;
    #top: 50%;
    display: table-cell;
    vertical-align: middle
}

.dvContainIEFix {
    #position: relative;
    #top: -50%;
    #left: -50%
}

.dvNBImage {
    width: 100%;
    text-align: center
}

.dvVaMdl {
    vertical-align: middle
}

.dvSrv {
    background-color: #f6f6f6;
    height: 64px
}

.divBtn {
    padding: 6px 0 6px 5px;
    background-color: #f6f6f6
}

.dvPdT3 {
    padding-top: 3px
}

.dvSp3 {
    height: 3px;
    font-size: 3px
}

.dvPdT4 {
    padding-top: 4px
}

.dvPdB4 {
    padding-bottom: 4px
}

.dvPdL10 {
    padding-left: 10px
}

.dvPdL25 {
    padding-left: 25px
}

.tblCntrDiv {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: left
}

.tdPrdImg {
    border-top: solid 1px #e7e7e7;
    border-left: solid 1px #e7e7e7
}

.hght20 {
    height: 20px
}

.dvInln {
    display: inline
}

.tdPrd {
    border-bottom: 1px solid #BBB;
    padding-top: 10px
}

.tdPrd_btm {
    padding-top: 10px
}

.rtbrdr {
    border-right: 1px solid #BBB
}

.price {
    color: #666
}

.LandingPagePadding {
    padding-bottom: 5px
}

.holidayArrivalImage {
    border: 0;
    margin: 10px 34px 10px 34px
}

div.fap-top-container {
    background-color: #b2b288;
    height: 183px;
    padding: 0;
    border: solid 1px #c0b5b1;
    margin-left: 5px
}

div.fap-top-lft {
    text-align: left;
    width: 204px;
    float: left
}

div.fap-top-rht {
    width: 239px;
    float: right
}

.holder {
    float: left;
    margin: 10px
}

.wrap1 {
    float: left;
    background: transparent url("http://cache1.artprintimages.com/images/pub/productPage/shadow.gif") no-repeat scroll right bottom
}

.wrap2 {
    background: transparent url("http://cache1.artprintimages.com/images/pub/productPage/DS_BottomLeft.jpg") no-repeat scroll 0 100%
}

.wrap3 {
    padding: 0 11px 11px 0;
    background: transparent url("http://cache1.artprintimages.com/images/pub/productPage/DS_RightTop.jpg") no-repeat scroll 100% -0px
}

.wrap3 img {
    display: block
}

.canvaswrap1, .canvaswrap2, .canvaswrap3 {
    display: block
}

.canvaswrap1 {
    float: left;
    background: transparent url("http://cache1.artprintimages.com/images/pub/canvas/canvasshadow.gif") no-repeat scroll right bottom
}

.canvaswrap2 {
    background: transparent url("http://cache1.artprintimages.com/images/pub/canvas/ds_canvas_bottomLeft.jpg") no-repeat scroll 0 100%
}

.canvaswrap3 {
    padding: 0 20px 20px 0;
    background: transparent url("http://cache1.artprintimages.com/images/pub/canvas/ds_canvas_rightTop.jpg") no-repeat scroll 100% -0px
}

.canvaswrap3 img {
    display: block
}

.canvaswhitewrap1 {
    float: left;
    background: transparent url("http://cache1.artprintimages.com/images/pub/productPage/canvas/whiteEdges/whitecanvasshadow.gif") no-repeat scroll right bottom
}

.canvaswhitewrap2 {
    background: transparent url("http://cache1.artprintimages.com/images/pub/productPage/canvas/whiteEdges/ds_canvas_bottomLeft.jpg") no-repeat scroll 0 100%
}

.canvaswhitewrap3 {
    padding: 0 20px 20px 0;
    background: transparent url("http://cache1.artprintimages.com/images/pub/productPage/canvas/whiteEdges/ds_canvas_rightTop.jpg") no-repeat scroll 100% -0px
}

.canvaswhitewrap3 img {
    display: block
}

.thumbContainer {
    text-align: center
}

#quickViewContainer {
    display: none
}

.galmin_top_space {
    line-height: 0;
    width: 584px
}

.centerImage_position {
    position: relative;
    margin-left: auto;
    margin-right: auto
}

.holiday_MSG_height {
    height: 39px
}

#pageNav .view_per_page {
    font-weight: normal;
    font-size: 12px;
    margin-right: 19px;
    padding: 5px 0
}

#pageNav .view_per_page ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

#pageNav .view_per_page ul li {
    float: left;
    padding: 1px 4px;
    cursor: text
}

#pageNav .view_per_page span {
    cursor: pointer
}

#pageNav .view_per_page span#per_page_selected {
    font-weight: bold;
    color: #000;
    cursor: text
}

#pageNav .view_per_page li.linkHover {
    text-decoration: none
}

.CategHeader {
    font-size: 36px;
    color: #222;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    padding: 11px 0;
    width: 1008px;
    margin: 0 auto
}

.CategHeader h1 {
    margin: 0;
    font-size: 36px;
    float: left;
    font-weight: normal
}

.CategHeaderCount {
    font-size: 12px;
    color: #888;
    margin-left: 10px;
    text-transform: capitalize
}

.gal-wrapper {
    position: relative;
    float: left;
    width: 185px;
    text-transform: uppercase
}

#gal-customcomboboxcontainer {
    padding: 0;
    margin: 0;
    border: 0;
    width: 185px;
    height: 23px;
    cursor: pointer;
    position: relative;
    z-index: 2
}

#gal-customcombobox {
    overflow: hidden;
    text-align: left;
    z-index: 2;
    #height: 28px;
    line-height: .9;
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -25px -96px;
    padding: 4px 23px 4px 10px;
    #padding-top: 2px;
    width: 200px;
    height: 28px;
    font: 20px 'BebasNeueRegular', Arial, sans-serif bold;
    color: #000
}

#gal-hovercombobox {
    position: absolute;
    top: 0;
    z-index: 3;
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -25px -132px;
    height: 28px;
    width: 200px;
    font-size: 20px;
    padding: 4px 23px 4px 10px;
    color: #000
}

#gal-customcombooptions {
    margin: 0;
    border: 0;
    width: 230px;
    _width: 230px;
    display: none;
    border: 1px solid #8A9099;
    border-top: 1px solid transparent;
    cursor: pointer;
    position: relative;
    top: 4px;
    text-align: left;
    left: 0;
    z-index: 1
}

.gal-comboboxbackground {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/bk_black85.png')
}

.gal-sortby {
    font-size: 36px;
    color: #fff;
    height: 24px;
    padding-bottom: 11px;
    padding-left: 22px
}

.galThumbContainer {
    float: left;
    width: 195px;
    border: 0 solid #EFEFEF;
    margin: 2px 0;
    color: #000;
    font-size: 12px
}

.galDetailsContainer {
    margin: 12px 0 0 10px;
    height: 95px
}

.galImageContainer {
    margin: 12px
}

.galImageCell {
    height: 178px;
    width: 195px;
    display: table-cell;
    vertical-align: bottom;
    text-align: center
}

.galImage {
    cursor: pointer;
    margin: 0 auto
}

.galTitle {
    cursor: pointer;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.gal-zoom-text .galTitle {
    color: #000
}

.galTitle, .galThePrice {
    font-size: 15px
}

.galArtistProduct {
    color: #888;
    margin-bottom: 0;
    min-height: 55px
}

.gal-artist {
    text-decoration: underline !important
}

.galThumbContainer .gal-product-size-block {
    display: none
}

.galProductType {
    white-space: nowrap;
    cursor: pointer
}

.gal-type-size {
    overflow: hidden;
    color: #888;
    margin-top: 2px;
    line-height: 140%
}

.gal-product-size-multi {
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
    float: left
}

.gal-product-size-multi:hover {
    color: #EF9223
}

.galPricing.sale .galPrice {
    color: #888;
    margin-right: 4px;
    margin-top: 3px;
    text-decoration: line-through;
    cursor: pointer
}

.galSalePrice {
    color: #EF4523;
    cursor: pointer
}

.galPrice {
    cursor: pointer
}

.galActionsContainer {
    height: 25px;
    position: relative;
    margin: 2px 0 2px 12px;
    display: block
}

.galActions {
    font: 14px 'BebasNeueRegular', Arial, sans-serif;
    text-align: center;
    position: absolute;
    bottom: 0;
    letter-spacing: .02em;
    z-index: 1
}

.galActions .galButton, .galgobackbutton {
    float: left;
    border: 1px solid #DDD;
    padding: 2px 10px;
    cursor: pointer
}

.galActions .galAddToCart {
    margin-right: 10px;
    color: #EF9223
}

.galActions .galFrameIt {
    color: #000;
    padding: 2px 18px
}

.gal-product-size {
    cursor: pointer
}

.gal-filter-icon {
    display: block;
    float: left;
    background-image: url('http://cache1.artprintimages.com/images/global/art/Global_ImageSprite2.png');
    background-position: 191px 115px;
    width: 14px;
    height: 14px
}

.gal-hover {
    text-decoration: underline;
    color: #EF9223
}

.galActionsContainer .galAddToCart, .galActionsContainer .galFrameIt, .galgobackcontainer {
    background: #fff;
    background: -moz-linear-gradient(top, #fff 40%, #efefef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #fff), color-stop(100%, #efefef));
    background: -webkit-linear-gradient(top, #fff 40%, #efefef 100%);
    background: -o-linear-gradient(top, #fff 40%, #efefef 100%);
    background: -ms-linear-gradient(top, #fff 40%, #efefef 100%);
    background: linear-gradient(top, #fff 40%, #efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef', GradientType=0)
}

.gal-zoom-add-to-cart.hover, .gal-zoom-frame-it {
    background-image: url(http://cache1.artprintimages.com/images/pub/productPage/secondaryBTN_large.png);
    background-repeat: repeat-x;
    border: 1px solid #ddd
}

.gal-zoom-frame-it {
    color: #000
}

.gal-zoom-add-to-cart {
    color: #FFF;
    background-image: url(http://cache1.artprintimages.com/images/pub/productPage/primaryBTN_large.png);
    background-repeat: repeat-x;
    border: 1px solid #ee7a25
}

.galActionsContainer .galAddToCart.hover {
    color: #FFF;
    background: #ef9223;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiNlZjkyMjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjA3YzIzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, #ef9223 40%, #f07c23 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #ef9223), color-stop(100%, #f07c23));
    background: -webkit-linear-gradient(top, #ef9223 40%, #f07c23 100%);
    background: -o-linear-gradient(top, #ef9223 40%, #f07c23 100%);
    background: -ms-linear-gradient(top, #ef9223 40%, #f07c23 100%);
    background: linear-gradient(top, #ef9223 40%, #f07c23 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef9223', endColorstr='#f07c23', GradientType=0);
    border: 1px solid #ee7a25
}

.galActionsContainer .galFrameIt.hover, .gal-zoom-frame-it.hover {
    color: #FFF;
    background: 0;
    filter: none;
    background-color: #000
}

.gal-frame-it-disabled {
    visibility: hidden
}

.gal-zoom-frame-it.disabled, .gal-zoom-frame-it.disabled.hover {
    color: #DDD !important;
    cursor: default !important
}

@media \0screen {
    .gal-zoom-frame-it.disabled, .gal-zoom-frame-it.disabled.hover {
        letter-spacing: .01em
    }
}

#gal-prodtype-tt {
    display: none;
    position: absolute;
    background-color: #FFF;
    width: 270px;
    z-index: 1000
}

.gal-prodtype-title {
    background-color: #F1F1F1;
    padding: 10px 12px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: .06em
}

.gal-prodtype-desc, .gal-prodtype-learn-more {
    margin: 10px 12px
}

.gal-prodtype-learn-more {
    text-decoration: underline;
    cursor: pointer;
    float: left;
    margin-top: 0
}

.gal-prodtype-learn-more.hover {
    color: #EF9223
}

.gal-prodtype-arrow {
    width: 15px;
    height: 15px;
    position: absolute;
    margin-left: 14px;
    background-color: #CCC;
    z-index: 1001
}

.gal-pagnav-border {
    border-bottom: 1px solid #D6D6D6
}

.gal-nav-container {
    border-top: 1px solid #D6D6D6;
    margin-top: 30px
}

.gal-gotop {
    width: 65px;
    float: left;
    padding-top: 5px;
    text-decoration: underline
}

#gal-zoom {
    display: none;
    position: absolute;
    background-color: #FFF;
    z-index: 1000
}

#gal-zoom-inner {
    margin: 6px;
    padding-top: 13px
}

#gal-zoom-text-container {
    padding: 0 13px
}

#gal-zoom, #gal-zoom-inner {
    border: 1px solid #D6D6D6
}

.gal-zoom-image {
    margin: 0 auto;
    display: block;
    cursor: pointer
}

.gal-zoom-details {
    margin-top: 12px
}

.gal-size-multi {
    color: #000
}

#gal-zoom .gal-product-size, #gal-zoom .gal-product-size-multi {
    display: block
}

#gal-zoom .gal-artist-prod-seperator {
    display: none
}

.galPricing {
    color: #000;
    display: inline-block;
    width: 100%
}

.galRanking {
    float: right;
    margin-right: 12px
}

.galRankHeart.hover {
    background-position: -115px -332px
}

.galRankHeart {
    background: url(http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png) no-repeat -115px -313px;
    width: 15px;
    height: 14px;
    float: right;
    cursor: pointer;
    margin-top: 2px
}

.galRankCount {
    background: url(http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png) no-repeat -132px -311px;
    width: 27px;
    height: 16px;
    float: right;
    margin-left: 2px;
    font-size: 11px;
    text-align: center;
    padding: 0 0 0 1px;
    line-height: 17px
}

.gal-zoom-details .galArtistProduct div {
    margin-top: 2px
}

.gal-zoom-actions {
    margin: 12px auto 24px;
    width: 286px
}

.gal-button-icon-group {
    float: left;
    width: 140px;
    letter-spacing: .02em
}

.gal-zoom-actions .gal-button-icon-group:first-child {
    margin-right: 6px
}

.gal-zoom-actions .gal-button {
    cursor: pointer;
    padding: 4px 10px 1px 10px;
    font: 27px 'BebasNeueRegular', Arial, sans-serif;
    text-align: center;
    margin-bottom: 12px
}

.gal-zoom-add-to-cart.hover {
    color: #EF9223
}

.gal-zoom-actions .gal-icon-button {
    text-transform: uppercase;
    color: #888;
    cursor: pointer
}

.gal-zoom-actions .gal-save-to-gallery {
    color: #f07e23
}

.gal-zoom-actions .gal-icon {
    float: left;
    margin-right: 6px;
    background: url(http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png) no-repeat;
    height: 19px
}

.gal-zoom-actions .gal-find-similar .gal-icon {
    background-position: -25px -313px;
    width: 30px
}

.gal-zoom-actions .gal-save-to-gallery .gal-icon {
    background-position: -65px -313px;
    width: 21px
}

.gal-zoom-actions .gal-icon-button.hover {
    color: #EF9223
}

.gal-zoom-actions .gal-find-similar.hover .gal-icon {
    background-position: -25px -337px;
    width: 30px
}

.gal-zoom-actions .gal-save-to-gallery.hover .gal-icon {
    background-position: -65px -337px;
    width: 21px
}

#gal-zoom .galProductType {
    margin-top: 2px
}

#gal-zoom .galDetailsContainer {
    height: auto;
    margin: 0
}

#gal-gotop-icon {
    margin-right: 4px;
    margin-top: 9px
}

#gal-gotop {
    margin-right: 4px;
    margin-top: 5px;
    text-decoration: underline
}

#gal-gotop.hover {
    color: #EF9223;
    text-decoration: underline
}

#gal-gotop-icon.hover {
    color: #EF9223
}

.gal-header-text {
    font-size: 36px;
    color: #222
}

#type-tooltip {
    display: none;
    position: absolute;
    width: 250px;
    background-color: #FFF;
    text-align: left;
    color: #000
}

#type-tooltip-title {
    background-color: #F1F1F1;
    border-bottom: 1px solid #E2E2E2;
    text-transform: uppercase;
    font-size: 11px;
    padding: 8px 10px;
    font-weight: bold
}

#type-tooltip-body {
    padding: 10px 10px 12px;
    font-size: 12px
}

#type-tooltip-text {
    margin: 0
}

#type-tooltip-more {
    color: #888;
    text-decoration: underline;
    margin: 6px 0 0;
    cursor: pointer
}

#type-tooltip-arrow {
    background-image: url(http://cache1.artprintimages.com/images/pub/gallerypage/g-tooltip-arrow-e.png);
    background-repeat: no-repeat;
    height: 14px;
    margin: -2px 0 0 12px;
    position: absolute;
    width: 21px
}

.tooltip-arrow-ie8 {
    margin: 1px 0 0 12px !important
}

#gal-customcombooptions-container {
    position: absolute;
    z-index: 2
}

#gal-l-nav-vs {
    max-width: 180px;
    width: auto;
    border-bottom: 1px solid black
}

ul.gal-l-nav {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0
}

.gal-l-nav {
    margin-top: 12px;
    line-height: 160%
}

.gal-l-nav img {
    border: 0
}

.gal-l-nav-item {
    font-weight: bold
}

.gal-l-nav-pad {
    margin-bottom: 12px
}

ul.gal-vsearch-hdr {
    border-top: 1px solid #000;
    padding-top: 6px
}

.gal-l-nav-vs-link:hover {
    color: #EF9223;
    cursor: pointer;
    text-decoration: none !important
}

.gal-l-nav-vs-link {
    color: #898888;
    cursor: pointer;
    text-decoration: none !important
}

.vsimg {
    background: url('http://cache1.artprintimages.com/images/jump_pages/rebrand/shop/shop-vsearch.png');
    width: 30px;
    height: 17px;
    float: left;
    margin-right: 5px
}

.vsimghover {
    background: url(http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png) no-repeat -26px -337px;
    width: 30px;
    height: 17px;
    margin-right: 5px;
    float: left
}

.vstext {
    float: left;
    color: #000;
    display: inline;
    font: 20px/100% 'BebasNeueRegular', Arial, sans-serif
}

.vstexthover {
    float: left;
    display: inline;
    font: 20px/100% 'BebasNeueRegular', Arial, sans-serif;
    color: #EF9223
}

.seeAll {
    line-height: 22px;
    cursor: pointer;
    color: #888;
    font-size: 10px
}

#galleft .jspPane {
    margin-left: 0 !important
}

.galgoback {
    font: 20px 'BebasNeueRegular', Arial, sans-serif;
    text-align: center;
    color: #000;
    width: 164px;
    height: 23px;
    line-height: 27px
}

.galgoback.hover {
    color: #FFF;
    background: 0;
    filter: none;
    background-color: #000
}

html.showIPadExperience, .showIPadExperience body {
    height: 100%;
    overflow: hidden;
    width: 100%
}

.ipad_takeover {
    display: none;
    font-family: helvetica, arial, sans-serif;
    font-size: 19px;
    height: calc(100% - 104px);
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 104px;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px)
}

.showIPadExperience .ipad_takeover {
    display: block
}

.ipad_takeover * {
    position: relative;
    box-sizing: border-box
}

.ipad_takeover .modal {
    background: rgba(255, 255, 255, .9);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px)
}

.ipad_takeover .wrapper {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/iPad_experience.png') left center no-repeat;
    background-size: auto 100%;
    height: 400px;
    margin: -230px auto 0;
    padding-left: 555px;
    padding-top: 34px;
    top: 50%;
    width: 900px;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px)
}

.ipad_takeover .title {
    display: block;
    font-family: 'BebasNeueRegular', Arial, sans-serif;
    font-size: 2.6em;
    line-height: 1.1em;
    margin-bottom: .2em;
    width: 294px;
    word-spacing: .05em;
    color: #030303
}

.ipad_takeover .description {
    display: block;
    font-family: "times new roman", times, serif;
    font-size: 1em;
    line-height: 1.1em;
    margin-bottom: 1em;
    width: 294px;
    color: #030303
}

.ipad_takeover .btn {
    cursor: pointer;
    display: block;
    font-family: 'BebasNeueRegular', Arial, sans-serif;
    font-size: .9em;
    margin: .5em 0;
    padding: 7px;
    text-align: center;
    width: 264px;
    word-spacing: .2em
}

.ipad_takeover .btn_yes {
    background: #ef9233;
    background: -moz-linear-gradient(top, #ef9233 0, #f06830 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef9233), color-stop(100%, #f06830));
    background: -webkit-linear-gradient(top, #ef9233 0, #f06830 100%);
    background: -o-linear-gradient(top, #ef9233 0, #f06830 100%);
    background: -ms-linear-gradient(top, #ef9233 0, #f06830 100%);
    background: linear-gradient(to bottom, #ef9233 0, #f06830 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef9233', endColorstr='#f06830', GradientType=0);
    color: white;
    font-size: 1.4em;
    padding: 10px
}

.ipad_takeover .btn_no {
    background: 0;
    border: 0;
    color: inherit;
    font-family: 'times new roman';
    font-size: .8em;
    padding: 0
}

.judyEntryGalleryParent {
    margin-top: 20px !important;
    height: 279px;
    cursor: pointer
}

.judyEntryGallery-W1 {
    width: 195px
}

.judyEntryGallery-W2 {
    width: 380px
}

.judyEntryGallery-W3 {
    width: 540px
}

.judyEntryGallery-W4 {
    width: 760px
}

.hidden {
    display: none
}

.active {
    display: block
}

.vMessage {
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 25px;
    margin-left: 24px;
    text-align: left;
    font-family: 'Times New Roman'
}

.Vdwh {
    font-size: 12px;
    text-decoration: underline;
    float: right;
    color: #888;
    font-family: "times new roman", times, serif !important;
    text-transform: none
}

.VdwhDetails {
    width: 230px;
    border: 1px solid grey;
    position: absolute;
    background-color: #FFF
}

.swt-class {
    font-size: 19px
}

.gal-switch-exp:hover {
    color: #FFF;
    background-color: #ef9223;
    text-align: center;
    cursor: pointer
}

.gal-switch-exp {
    color: #ef9223;
    border: 1px solid #ef9223;
    padding: 10px;
    margin-bottom: 4px;
    background-color: #FFF;
    font-size: 16px
}

.VDiscoveryContainer {
    position: relative;
    margin-bottom: 20px
}

.VDiscoveryContainer .Vdwh .flyout {
    background: white;
    border: solid 1px #C7C5C6;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    display: none;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 70px;
    width: 200px;
    font-family: 'Times New Roman';
    color: #888;
    font-size: 12px
}

.VDiscoveryContainer .Vdwh:hover .flyout {
    display: block
}

.VDiscoveryContainer .Vdwh .flyout:after {
    background: url('http://cache1.artprintimages.com/images/jump_pages/rebrand/header/hdrarw2.png');
    content: '';
    height: 12px;
    left: 177px;
    position: absolute;
    top: -12px;
    width: 21px;
    z-index: 1
}

.VDiscoveryContainer .tWhat {
    font-family: 'Times New Roman';
    font-weight: normal;
    font-size: 12px;
    color: #888;
    text-align: left;
    text-decoration: underline
}

.VDiscoveryContainer .tWhat:hover {
    font-family: 'Times New Roman';
    font-weight: normal;
    font-size: 12px;
    color: #ef9223;
    text-align: left
}

.buttonBarTemplate {
    margin-bottom: 15px;
    margin-right: 20px
}

#optns_pop_cntnr_outer {
    padding-bottom: 10px;
    border: 1px solid #BBB;
    background-color: #FFF
}

#optns_pop_cntnr_title {
    cursor: move;
    height: 27px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #e2e2e2;
    padding: 0 10px
}

#optns_pop_cntnr_title h2 {
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-weight: bold;
    line-height: 27px;
    text-align: left;
    color: #000;
    text-transform: uppercase
}

#optns_pop_cntnr_content {
    padding: 9px 12px 4px;
    text-align: left
}

tr.optns_pop_coltitle_row {
    margin-bottom: 10px
}

.optns_pop_coltitle_row th {
    text-align: left
}

.optns_pop_coltitle {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #BBB;
    padding-bottom: 5px;
    padding-right: 5px
}

.pop_price_text {
    color: #000;
    text-align: right;
    padding: 0 !important;
    white-space: nowrap
}

.pop_bldtext {
    font-weight: bold;
    font-size: 12px;
    color: #000
}

.pop_text {
    font-weight: bold;
    font-size: 12px;
    color: #888
}

.pop_text td, .pop_bldtext td {
    white-space: nowrap;
    padding: 5px 15px 5px 0
}

.pop_text td input, .pop_bldtext td input {
    margin: 0;
    padding: 0;
    vertical-align: top
}

.optns_pop_cntnr_btn {
    padding-left: 150px
}

.pop_x {
    background: url('http://cache1.artprintimages.com/images/global/art/Global_ImageSprite2.png') no-repeat -218px -22px;
    width: 13px;
    height: 13px;
    float: right;
    cursor: pointer;
    margin-top: 8px
}

.alert_box {
    text-align: left;
    color: #888;
    padding: 10px 0 0 35px
}

.size_not_avail {
    color: #888;
    padding: 0 0 5px 0;
    text-align: left;
    white-space: nowrap
}

.size_not_avail input {
    margin: 0;
    padding: 0;
    vertical-align: top
}

.clear {
    clear: both
}

.optns_pop_add_cart_bttn_div, .optns_pop_frame_it_bttn_div {
    width: 132px;
    margin: 0 auto;
    padding-bottom: 14px
}

#clrmod_cntnr_outer {
    width: 180px;
    background-color: #E7E2D9
}

#clrmod_cntnr_content {
    padding: 5px
}

.clrmod_topbar {
    height: 25px;
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    background: #cdc2b1 url('http://cache1.artprintimages.com/images/pub/navigation/global/hp_leftnavheader.gif')
}

.clrmod_dwnarrow {
    width: 10px;
    height: 10px;
    padding: 8px 5px 5px 5px;
    float: left;
    font-size: 11px;
    background: url('http://cache1.artprintimages.com/images/pub/navigation/global/downarrow.gif') no-repeat center
}

.clrmod_title_text {
    font-weight: bold;
    color: #4E3326;
    padding: 0 2px 0 10px;
    line-height: 25px;
    background: #cdc2b1 url('http://cache1.artprintimages.com/images/pub/navigation/global/hp_leftnavheader.gif') repeat-x
}

.size_options_header {
    border-bottom: 1px solid #BBB;
    color: #000;
    font-weight: bold;
    padding-bottom: 5px;
    text-transform: uppercase;
    float: left
}

#otherways_container {
    height: 138px;
    font: 12px Verdana, Arial, Helvetica, sans-serif;
    text-align: center
}

.otherways_title {
    padding-top: 18px;
    text-align: center
}

.otherways_module {
    width: 207px;
    float: left
}

.otherways_divide {
    float: left;
    margin-top: 25px;
    height: 90px;
    border-right: 1px solid #BBB
}

.otherways_icon_cntnr {
    padding-left: 6px;
    *padding-left: 16px;
    padding-top: 8px
}

.otherways_icon_cntnr2 {
    padding-left: 25px;
    *padding-left: 33px;
    padding-top: 8px
}

.otherways_link_cntnr {
    font: 10px Verdana, Arial, Helvetica, sans-serif;
    color: #666
}

.otherways_link_cntnr a {
    font: 10px Verdana, Arial, Helvetica, sans-serif;
    color: #666;
    line-height: 14px
}

.otherways_link_cntnr a:link {
    text-decoration: none;
    color: #666
}

.otherways_link_cntnr a:hover {
    text-decoration: underline
}

.otherways_shape_icon {
    float: left;
    border: 2px solid #bbb;
    background-color: #e7e2d9;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
    cursor: pointer
}

.otherways_shape_icon_over {
    float: left;
    border: 2px solid #0072bc;
    background-color: #e7e2d9;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
    cursor: pointer
}

.otherways_icon_portrait {
    width: 23px;
    height: 30px;
    margin: 6px 6px 3px 6px
}

.otherways_icon_land {
    width: 28px;
    height: 20px;
    margin: 16px 6px 3px 6px
}

.otherways_icon_sq {
    width: 20px;
    height: 20px;
    margin: 16px 6px 3px 6px
}

.otherways_icon_pan {
    width: 28px;
    height: 15px;
    margin: 21px 6px 3px 6px
}

.otherways_icon_slim {
    width: 15px;
    height: 30px;
    margin: 6px 6px 3px 6px
}

.otherways_icon_mini {
    width: 6px;
    height: 6px;
    margin: 33px 3px 3px 3px
}

.otherways_icon_small {
    width: 12px;
    height: 12px;
    margin: 27px 3px 3px 3px
}

.otherways_icon_med {
    width: 20px;
    height: 20px;
    margin: 19px 3px 3px 3px
}

.otherways_icon_lrg {
    width: 28px;
    height: 28px;
    margin: 11px 3px 3px 3px
}

.otherways_icon_oversize {
    width: 36px;
    height: 36px;
    margin: 3px 3px 3px 3px
}

#HomepageContainer {
    font-size: 10px;
    min-width: 629px;
    width: 62.9em
}

#HomepageTopBlock {
    background: #E4D7AD;
    #width: 62.9em
}

#HomepageTopBlock .Links {
    text-transform: uppercase;
    margin: 25px 0 0 100px;
    font-size: 13px;
    font-weight: bold
}

#HomepageTopBlock .Link {
    text-decoration: none;
    line-height: 160%
}

.HomepageRow {
    font-size: 10px;
    min-width: 629px;
    width: 62.9em;
    #width: 629px
}

.HomepageFeatureBox {
    font-size: 10px;
    min-width: 311px;
    width: 31.1em;
    min-height: 173px;
    height: 15.72em;
    border: 1px solid #BBB;
    position: relative;
    float: left;
    margin-top: 4px;
    #min-width: 313px;
    #width: 31.3em
}

.HomepageFeatureBoxFull {
    font-size: 10px;
    min-height: 173px;
    height: 15.72em;
    border: 1px solid #BBB;
    position: relative;
    margin-top: 4px
}

.Left {
    margin-right: 3px
}

.HomepageFeatureBoxHeading {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 21px;
    text-transform: lowercase;
    text-align: center;
    width: 100%;
    line-height: 150%
}

.HomepageFeatureBoxText {
    float: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    padding: 7px 0 0 7px;
    width: 165px;
    height: 135px;
    position: absolute
}

.HomepageFeatureBoxTextNoPadding {
    float: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    padding: 0;
    width: 156px;
    height: 135px;
    position: absolute
}

.HomepageFeatureBoxBelowImage {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    margin-left: 50px
}

.HomepageFeatureBoxText p {
    color: 666666;
    line-height: 150%
}

.HomepageFeatureBoxImage {
    float: right
}

#HomepageContainer ul {
    list-style-type: none;
    padding: 7px 0 0 7px;
    margin: 0
}

#HomepageContainer li {
    margin-bottom: 6px
}

#HomepageContainer .more {
    position: absolute;
    bottom: 7px;
    margin-left: 7px;
    padding: 0
}

.HomepageFeatureBoxText a, .HomepageFeatureBoxBelowImage a {
    color: #666;
    text-decoration: none
}

.HomepageFeatureBoxText a:hover, .HomepageFeatureBoxBelowImage a:hover {
    text-decoration: underline
}

.HomepageFeatureBoxHeading a:hover {
    text-decoration: none
}

#HomepageContainer a:hover {
    color: #0072BC
}

.HomepageFeatureBoxHeading a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #4C3327
}

#HolidayInfoHeader {
    float: left;
    padding-right: 20px;
    margin-top: -3px;
    #margin-top: 0
}

.gTxtHomepageTitleLinks {
    color: #FFF
}

.gTextPromotional {
    color: #FFF
}

.gBkPromotional {
    background-color: #600E4A
}

.primary_buttons_noarrow {
    float: left;
    margin: 0 7px 0 0;
    border: 1px solid #fff;
    text-transform: uppercase
}

.primary_buttons_noarrow a {
    display: block;
    border: 1px solid #fff;
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    line-height: 115%;
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
    margin: 1px;
    padding: 3px 5px
}

.snf_outercontainer {
    width: 596px
}

.snf_outercontainer a {
    font: 11px Verdana, Arial, Helvetica, sans-serif
}

.topsrch_row {
    font-size: 15px;
    text-align: left;
    margin-top: 11px;
    margin-bottom: 11px
}

.topdym_row {
    text-align: left;
    padding: 0
}

.dymdiv {
    width: 787px;
    margin-bottom: 20px
}

.topsrch_row a {
    font-size: 12px;
    color: #06C
}

.blktxt {
    color: #000
}

.snf_morewaysbox {
    margin-top: 4px;
    padding-bottom: 12px
}

.snf_catthumb a:link, .subjects_catthumb a:visited {
    display: block;
    border: 1px solid #BBB
}

.snf_module {
    margin-top: 4px;
    width: 787px;
    #width: 784px
}

.snf_modrow {
    width: 787px;
    #width: 784px;
    margin-left: auto;
    margin-right: auto
}

.snf_listcontainer {
    padding: 25px 25px 25px 25px;
    float: left;
    text-align: left
}

.snf_thumbcontainer {
    padding: 30px 10px 25px 10px;
    #padding: 30px 12px 25px 12px;
    float: left;
    text-align: left;
    width: 110px
}

.snf_thumbcontainer a:hover {
    color: #ef9223;
    cursor: pointer
}

#snf-top-categories .snf_thumbcontainer, #snf-popular-subjects .snf_thumbcontainer {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

#snf-top-categories img, #snf-popular-subjects img {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px
}

.snf-thumb-image {
    position: relative;
    height: 90px
}

.snf-image-rows {
    padding-top: 30px;
    padding-bottom: 25px
}

.snf_catthumb a:hover {
    border-color: #0072BC
}

.moreways_container {
    text-align: left;
    color: #888;
    margin: 16px 38px 10px 40px
}

.moreways_titlegraphic, moreways_titlegraphic a {
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 11px;
    color: #000;
    text-transform: uppercase
}

moreways_titlegraphic a:hover {
    color: #ef9223
}

.moreways_link, moreways_link a {
    color: #888;
    text-transform: uppercase;
    font-size: 11px
}

.moreways_link a:hover {
    text-transform: uppercase;
    color: #ef9223;
    font-size: 11px
}

.CenterModule_Title {
    text-align: left !important;
    padding-left: 10px;
    font-size: 21px;
    line-height: 150%
}

.gBkBlue {
    color: #0072BC
}

.linkFormHover1 {
    color: #0072BC;
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline
}

.moreways_title_div {
    padding-bottom: 4px
}

.snf-keyline {
    padding-bottom: 5px;
    border-bottom: 1px solid #000
}

.snf-title {
    font-size: 24px;
    color: #000;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0
}

.snf-text {
    font-size: 14px;
    color: #000
}

.snf-linkform-hover {
    font-size: 14px;
    color: #ef9223;
    text-decoration: underline;
    cursor: pointer
}

#didyoumeanc {
    width: 1008px;
    margin: 0 auto
}

DIV.pg-head-container_gen {
    BACKGROUND-COLOR: #FFF
}

DIV.top-container_gen {
    BORDER: 1px solid #C0B5B1;
    margin-top: 1px
}

DIV.top-lft_gen {
    FLOAT: left;
    TEXT-ALIGN: right
}

DIV.top-rht_gen {
    FLOAT: right;
    WIDTH: 268px
}

#btm-container_gen {
    BORDER: 1px solid #C0B5B1;
    MARGIN: 1px 0 0 0
}

DIV.btm-lft_gen {
    FLOAT: left
}

DIV.btm-text_gen {
    MARGIN: 15px 17px 0 15px
}

DIV.btm-rht_gen {
    FLOAT: right;
    WIDTH: 380px;
    FONT: 10px/14px Verdana, Arial, Helvetica, sans-serif;
    COLOR: #323232
}

DIV.btm-rht-link_gen {
    MARGIN-TOP: 5px 0 5px 0;
    FLOAT: right
}

DIV.pg-head-container_giclee {
    WIDTH: 100%;
    BACKGROUND-COLOR: #fff
}

DIV.fap-top-container_giclee {
    BORDER-RIGHT: #c0b5b1 1px solid;
    BORDER-TOP: #c0b5b1 1px solid;
    BORDER-LEFT: #c0b5b1 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: #c0b5b1 1px solid;
    HEIGHT: 175px;
    BACKGROUND-COLOR: #e6cf76
}

DIV.fap-top-lft_giclee {
    FLOAT: left;
    WIDTH: 314px;
    TEXT-ALIGN: right
}

DIV.fap-top-rht_giclee {
    FLOAT: right;
    WIDTH: 207px
}

#fap-btm-container_giclee {
    BORDER-RIGHT: #c0b5b1 1px solid;
    BORDER-TOP: #c0b5b1 1px solid;
    MARGIN-TOP: 1px;
    BORDER-LEFT: #c0b5b1 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: #c0b5b1 1px solid;
    BACKGROUND-COLOR: #f8ecd6
}

DIV.fap-btm-lft_giclee {
    FLOAT: left;
    WIDTH: 175px
}

DIV.fap-btm-rht_giclee {
    FLOAT: right;
    FONT: 10px/14px Verdana, Arial, Helvetica, sans-serif;
    WIDTH: 380px;
    COLOR: #323232
}

DIV.fap-btm-text_giclee {
    MARGIN: 10px 17px 0 15px
}

DIV.fap-btm-rht-link_giclee {
    MARGIN-TOP: 10px;
    FLOAT: right;
    MARGIN-BOTTOM: 5px
}

DIV.pg-head-container_kinkade {
    WIDTH: 100%;
    BACKGROUND-COLOR: #fff
}

DIV.fap-top-container_kinkade {
    BORDER-RIGHT: #c0b5b1 1px solid;
    BORDER-TOP: #c0b5b1 1px solid;
    BORDER-LEFT: #c0b5b1 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: #c0b5b1 1px solid;
    BACKGROUND-COLOR: #fcecd8
}

DIV.fap-top-lft_kinkade {
    FLOAT: left;
    MARGIN: 5px 15px 5px 20px;
    WIDTH: 260px;
    BACKGROUND-COLOR: #fcecd8
}

DIV.fap-top-rht_kinkade {
    FLOAT: right;
    MARGIN: 12px 9px 9px 0;
    WIDTH: 214px;
    BACKGROUND-COLOR: #fcecd8
}

#fap-btm-container_kinkade {
    BORDER-RIGHT: #c0b5b1 1px solid;
    BORDER-TOP: #c0b5b1 1px solid;
    MARGIN: 1px 0 0;
    BORDER-LEFT: #c0b5b1 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: #c0b5b1 1px solid;
    BACKGROUND-COLOR: #f8ecd6
}

DIV.fap-btm-lft_kinkade {
    FLOAT: left;
    WIDTH: 174px
}

DIV.fap-btm-text_kinkade {
    MARGIN: 10px 17px 0 15px
}

DIV.fap-btm-rht_kinkade {
    FLOAT: right;
    FONT: 10px/14px Verdana, Arial, Helvetica, sans-serif;
    WIDTH: 380px;
    COLOR: #323232
}

DIV.fap-btm-rht-link_kinkade {
    MARGIN-TOP: 0;
    FLOAT: right
}

DIV.fap-top-container_hearst {
    BORDER-RIGHT: #c0b5b1 1px solid;
    BORDER-TOP: #c0b5b1 1px solid;
    BORDER-LEFT: #c0b5b1 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: #c0b5b1 1px solid;
    HEIGHT: 169px;
    BACKGROUND-COLOR: #f0edd8
}

DIV.fap-top-lft_hearst {
    FLOAT: left;
    WIDTH: 180px;
    TEXT-ALIGN: left
}

DIV.fap-top-rht_hearst {
    FLOAT: right;
    WIDTH: 223px
}

DIV.pg-head-container_photo {
    WIDTH: 100%;
    BACKGROUND-COLOR: #fff
}

DIV.fap-top-container_photo {
    BORDER-RIGHT: #c0b5b1 1px solid;
    BORDER-TOP: #c0b5b1 1px solid;
    BORDER-LEFT: #c0b5b1 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: #c0b5b1 1px solid;
    HEIGHT: 190px;
    BACKGROUND-COLOR: #eadbc3
}

DIV.fap-top-lft_photo {
    FLOAT: left;
    MARGIN: 5px 0 5px 10px;
    WIDTH: 300px;
    TEXT-ALIGN: left
}

DIV.fap-top-rht_photo {
    FLOAT: right;
    MARGIN: 7px 12px 10px 0;
    WIDTH: 204px
}

#fap-btm-container_photo {
    BORDER-RIGHT: #c0b5b1 1px solid;
    BORDER-TOP: #c0b5b1 1px solid;
    MARGIN: 2px 0 0;
    BORDER-LEFT: #c0b5b1 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: #c0b5b1 1px solid;
    BACKGROUND-COLOR: #f8ecd6
}

DIV.fap-btm-lft_photo {
    FLOAT: left;
    WIDTH: 175px
}

DIV.fap-btm-text_photo {
    MARGIN: 10px 17px 0 15px
}

DIV.fap-btm-rht_photo {
    FLOAT: right;
    FONT: 10px/14px Verdana, Arial, Helvetica, sans-serif;
    WIDTH: 380px;
    COLOR: #323232
}

DIV.fap-btm-rht-link_photo {
    MARGIN-TOP: 10px;
    FLOAT: right;
    MARGIN-BOTTOM: 5px
}

DIV.fap-top-container_select {
    BORDER-RIGHT: #c0b5b1 1px solid;
    BORDER-TOP: #c0b5b1 1px solid;
    BORDER-LEFT: #c0b5b1 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: #c0b5b1 1px solid;
    BACKGROUND-COLOR: #d4d6b1
}

DIV.fap-top-lft_select {
    FLOAT: left;
    WIDTH: 180px;
    TEXT-ALIGN: left
}

DIV.fap-top-rht_select {
    FLOAT: right;
    WIDTH: 238px
}

DIV.fap-top-container_geo {
    BORDER-RIGHT: #c0b5b1 1px solid;
    BORDER-TOP: #c0b5b1 1px solid;
    BORDER-LEFT: #c0b5b1 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: #c0b5b1 1px solid;
    BACKGROUND-COLOR: #c6c692
}

DIV.fap-top-lft_geo {
    FLOAT: left;
    WIDTH: 180px;
    TEXT-ALIGN: left
}

DIV.fap-top-rht_geo {
    FLOAT: right;
    WIDTH: 234px;
    PADDING-TOP: 10px
}

DIV.pg-head-container_canvas {
    WIDTH: 100%;
    BACKGROUND-COLOR: #fff
}

DIV.fap-top-container_canvas {
    BORDER-RIGHT: #c0b5b1 1px solid;
    PADDING-RIGHT: 0;
    BORDER-TOP: #c0b5b1 1px solid;
    PADDING-LEFT: 0;
    PADDING-BOTTOM: 0;
    BORDER-LEFT: #c0b5b1 1px solid;
    WIDTH: 100%;
    PADDING-TOP: 0;
    BORDER-BOTTOM: #c0b5b1 1px solid;
    HEIGHT: 183px;
    BACKGROUND-COLOR: #d9cbb7
}

DIV.fap-top-lft_canvas {
    FLOAT: left;
    WIDTH: 255px;
    TEXT-ALIGN: right
}

DIV.fap-top-rht_canvas {
    FLOAT: right;
    WIDTH: 291px
}

#fap-btm-container_canvas {
    BORDER-RIGHT: #c0b5b1 1px solid;
    BORDER-TOP: #c0b5b1 1px solid;
    MARGIN: 1px 0 0;
    BORDER-LEFT: #c0b5b1 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: #c0b5b1 1px solid;
    BACKGROUND-COLOR: #f8ecd6
}

DIV.fap-btm-lft_canvas {
    FLOAT: left;
    WIDTH: 175px
}

DIV.fap-btm-text_canvas {
    MARGIN: 10px 17px 0 15px
}

DIV.fap-btm-rht_canvas {
    FLOAT: right;
    FONT: 10px/14px Verdana, Arial, Helvetica, sans-serif;
    WIDTH: 380px;
    COLOR: #323232
}

DIV.fap-btm-rht-link_canvas {
    MARGIN-TOP: 10px;
    FLOAT: right;
    MARGIN-BOTTOM: 5px
}

DIV.pg-head-container_limited {
    BACKGROUND-COLOR: #fff
}

DIV.fap-top-container_limited {
    BORDER-RIGHT: #c0b5b1 1px solid;
    PADDING-RIGHT: 0;
    BORDER-TOP: #c0b5b1 1px solid;
    PADDING-LEFT: 0;
    PADDING-BOTTOM: 0;
    BORDER-LEFT: #c0b5b1 1px solid;
    PADDING-TOP: 0;
    BORDER-BOTTOM: #c0b5b1 1px solid;
    HEIGHT: 183px;
    BACKGROUND-COLOR: #f1ddc2
}

DIV.fap-top-lft_limited {
    FLOAT: left;
    WIDTH: 240px;
    TEXT-ALIGN: left
}

DIV.fap-top-rht_limited {
    FLOAT: right;
    WIDTH: 304px
}

DIV.mid-section_limited {
    PADDING-RIGHT: 0;
    PADDING-LEFT: 100px;
    PADDING-BOTTOM: 0;
    FONT: 16px Verdana, Arial, Helvetica, sans-serif;
    WIDTH: 429px;
    PADDING-TOP: 15px;
    BACKGROUND-COLOR: #fcecd8
}

#fap-btm-container_limited {
    BORDER-RIGHT: #c0b5b1 1px solid;
    BORDER-TOP: #c0b5b1 1px solid;
    PADDING-BOTTOM: 8px;
    MARGIN: 2px 0 0;
    BORDER-LEFT: #c0b5b1 1px solid;
    BORDER-BOTTOM: #c0b5b1 1px solid;
    BACKGROUND-COLOR: #fcecd8
}

DIV.fap-btm-lft_limited {
    FLOAT: left;
    MARGIN: 20px 0 0 15px;
    FONT: 9px/15px Verdana, Arial, Helvetica, sans-serif;
    WIDTH: 161px
}

DIV.fap-btm-rht_limited {
    PADDING-RIGHT: 17px;
    PADDING-LEFT: 0;
    FLOAT: right;
    PADDING-BOTTOM: 0;
    FONT: 10px/14px Verdana, Arial, Helvetica, sans-serif;
    WIDTH: 333px;
    COLOR: #323232;
    PADDING-TOP: 17px
}

DIV.fap-btm-rht-link_limited {
    MARGIN-TOP: 10px;
    FLOAT: right;
    MARGIN-BOTTOM: 5px
}

DIV.fap-top-lft-link_limited {
    FLOAT: left;
    MARGIN: 0 0 10px 14px
}

DIV.pg-head-container_tap {
    BACKGROUND-COLOR: #fff
}

DIV.fap-top-container_tap {
    BORDER-RIGHT: #c0b5b1 1px solid;
    BORDER-TOP: #c0b5b1 1px solid;
    BORDER-LEFT: #c0b5b1 1px solid;
    BORDER-BOTTOM: #c0b5b1 1px solid;
    HEIGHT: 183px;
    BACKGROUND-COLOR: #b19a68
}

DIV.fap-top-lft_tap {
    FLOAT: left;
    MARGIN: 5px 0 0 10px;
    WIDTH: 190px;
    TEXT-ALIGN: left
}

DIV.fap-top-rht_tap {
    FLOAT: right;
    WIDTH: 327px
}

#fap-btm-container_tap {
    BORDER-RIGHT: #c0b5b1 1px solid;
    BORDER-TOP: #c0b5b1 1px solid;
    MARGIN: 1px 0 0;
    BORDER-LEFT: #c0b5b1 1px solid;
    BORDER-BOTTOM: #c0b5b1 1px solid;
    BACKGROUND-COLOR: #f8ecd6
}

DIV.fap-btm-lft_tap {
    FLOAT: left;
    WIDTH: 175px;
    HEIGHT: 128px
}

DIV.fap-btm-text_tap {
    MARGIN: 10px 17px 0 15px
}

DIV.fap-btm-rht_tap {
    FLOAT: right;
    FONT: 10px/14px Verdana, Arial, Helvetica, sans-serif;
    WIDTH: 380px;
    COLOR: #323232
}

DIV.fap-btm-rht-link_tap {
    MARGIN-TOP: 5px;
    FLOAT: right;
    MARGIN-BOTTOM: 5px
}

DIV.fap-top-container_studio {
    BORDER-RIGHT: #c0b5b1 1px solid;
    BORDER-TOP: #c0b5b1 1px solid;
    BORDER-LEFT: #c0b5b1 1px solid;
    BORDER-BOTTOM: #c0b5b1 1px solid;
    BACKGROUND-COLOR: #e5ddc0
}

DIV.fap-top-lft_studio {
    FLOAT: left;
    WIDTH: 180px;
    TEXT-ALIGN: left
}

DIV.fap-top-rht_studio {
    FLOAT: right;
    WIDTH: 299px
}

DIV.pg-head-container_outdoor {
    WIDTH: 100%;
    BACKGROUND-COLOR: #fff
}

DIV.fap-top-container_outdoor {
    BORDER-RIGHT: #c0b5b1 1px solid;
    BORDER-TOP: #c0b5b1 1px solid;
    BORDER-LEFT: #c0b5b1 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: #c0b5b1 1px solid;
    HEIGHT: 185px;
    BACKGROUND-COLOR: #fae79a
}

DIV.fap-top-lft_outdoor {
    FLOAT: left;
    WIDTH: 314px;
    TEXT-ALIGN: right
}

DIV.fap-top-rht_outdoor {
    FLOAT: right;
    MARGIN-BOTTOM: 15px;
    PADDING-BOTTOM: 15px;
    WIDTH: 207px;
    PADDING-TOP: 15px
}

#fap-btm-container_outdoor {
    BORDER-RIGHT: #c0b5b1 1px solid;
    BORDER-TOP: #c0b5b1 1px solid;
    MARGIN-TOP: 1px;
    BORDER-LEFT: #c0b5b1 1px solid;
    BORDER-BOTTOM: #c0b5b1 1px solid;
    BACKGROUND-COLOR: #f8ecd6
}

.fap-btm-lft_outdoor {
    WIDTH: 184px
}

.fap-btm-rht_outdoor {
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 0;
    FONT: 10px/14px Verdana, Arial, Helvetica, sans-serif;
    COLOR: #323232;
    PADDING-TOP: 10px
}

DIV.fap-btm-rht-link_outdoor {
    MARGIN-TOP: 5px;
    FLOAT: right;
    MARGIN-BOTTOM: 5px;
    MARGIN-RIGHT: 12px
}

DIV.pg-head-container_serigraph {
    WIDTH: 100%
}

DIV.fap-top-container_serigraph {
    BORDER-RIGHT: #c0b5b1 1px solid;
    PADDING-RIGHT: 0;
    BORDER-TOP: #c0b5b1 1px solid;
    PADDING-LEFT: 0;
    PADDING-BOTTOM: 0;
    BORDER-LEFT: #c0b5b1 1px solid;
    WIDTH: 601px;
    PADDING-TOP: 0;
    BORDER-BOTTOM: #c0b5b1 1px solid;
    HEIGHT: 183px;
    BACKGROUND-COLOR: #ebecde
}

DIV.fap-top-lft_serigraph {
    FLOAT: left;
    WIDTH: 350px;
    TEXT-ALIGN: right
}

DIV.fap-top-rht_serigraph {
    float: right;
    padding: 10px 20px 10px 40px
}

DIV.fap-btm-container_serigraph {
    BORDER-RIGHT: #c0b5b1 1px solid;
    BORDER-TOP: #c0b5b1 1px solid;
    MARGIN: 1px 0 0;
    BORDER-LEFT: #c0b5b1 1px solid;
    WIDTH: 601px;
    BORDER-BOTTOM: #c0b5b1 1px solid;
    HEIGHT: 157px;
    BACKGROUND-COLOR: #fdf9e6
}

div.pg-head-container_framedart {
    background-color: #fofoe9;
    width: 590px
}

div.pg-head-container_framedart a, div.pg-head-container_framedart a:visited, div.pg-head-container_framedart a:active {
    font: normal normal normal 10px Verdana, Arial, Helvetica, sans-serif;
    color: #336799;
    text-decoration: underline
}

div.pg-head-container_framedart a:hover {
    text-decoration: none
}

div.fap-top-container_framedart {
    background-color: #f0f0e9;
    width: 590px;
    height: 183px;
    padding: 0;
    border: solid 1px #c0b5b1
}

div.fap-top-lft_framedart {
    text-align: right;
    width: 224px;
    float: left
}

div.fap-top-rht_framedart {
    background-color: #f0f0e9;
    padding: 10px 0 0 5px;
    width: 316px;
    float: left
}

div.fap-btm-container_framedart {
    background-color: #F8F3E3;
    width: 590px;
    height: 175px;
    border: solid 1px #c0b5b1;
    margin: 1px 0 0 0
}

div.fap-btm-lft_framedart {
    background-color: #F8F3E3;
    width: 186px;
    height: 175px;
    float: left
}

div.fap-btm-rht_framedart {
    background-color: #F8F3E3;
    width: 318px;
    height: 150px;
    float: right;
    padding: 10px 42px 0 42px;
    font: normal normal normal 10px Verdana, Arial, Helvetica, sans-serif;
    color: #0A0A08;
    line-height: 13px
}

div.fap-btm-rht-link_framedart {
    width: 318px;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 0;
    float: right
}

div.pg-head-container_AndyWarhol {
    text-decoration: none
}

div.pg-head-container_AndyWarhol a, div.pg-head-container_AndyWarhol a:link, div.pg-head-container_AndyWarhol a:visited, div.pg-head-container_AndyWarhol a:active {
    font: normal normal normal 10px Verdana, Arial, Helvetica, sans-serif;
    color: #FFF;
    text-decoration: underline
}

div.pg-head-container_AndyWarhol a:hover {
    text-decoration: none
}

div.fap-top-container_AndyWarhol {
    background-color: #EBECDE;
    width: 601px;
    height: 183px;
    padding: 0;
    border: solid 1px #c0b5b1
}

div.fap-top-lft_AndyWarhol {
    background-color: #872729;
    text-align: right;
    width: 390px;
    height: 183px;
    padding-right: 50px;
    float: left
}

div.fap-top-rht_AndyWarhol {
    background-color: #e4e2e5;
    width: 161px;
    height: 172px;
    padding-top: 10px;
    float: left
}

div.fap-btm-container_AndyWarhol {
    background-color: #FFF;
    width: 601px;
    height: 180px;
    border: solid 1px #c0b5b1;
    padding: 1px 0 0 0
}

div.fap-btm-lft_AndyWarhol {
    background-color: #FAF5E2;
    width: 179px;
    height: 180px;
    float: left
}

div.fap-btm-rht_AndyWarhol {
    background-color: #fff;
    width: 280px;
    height: 127px;
    float: left;
    padding: 30px 30px 0 25px;
    font: normal normal normal 10px Verdana, Arial, Helvetica, sans-serif;
    color: #0A0A08;
    line-height: 13px
}

div.fap-btm-rht-link_AndyWarhol {
    *padding: 0 0 0 315px;
    margin-top: 5px;
    margin-bottom: 0;
    float: right;
    color: #369
}

div.fap-btm-rht-link_AndyWarhol a {
    color: #369
}

div.pg-head-container_todayShow {
    background-color: #F1C159;
    background-image: url(http://imagesource2.art.com/images/pub/galleries/todayShow/todayShow_bk.jpg);
    background-repeat: no-repeat;
    border: 1px solid #A9A9A9;
    height: 183px;
    #height: 185px
}

div.top-container_todayShow {
    margin: 15px 0 0 68px
}

div.video-container_todayShow {
    text-align: center;
    margin-top: 10px
}

.clear-life {
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0
}

div.atb-top-cntnr-life {
    padding: 20px 0 10px 0;
    width: 588px
}

div.atb-top-lft-life {
    width: 304px;
    float: left;
    padding-left: 33px;
    text-align: left
}

div.learnmore_cntnr-life {
    padding-left: 30px;
    font: 10px Verdana, Arial, Helvetica, sans-serif;
    color: #0072bc;
    cursor: pointer
}

div#atb-btm-cntnr-life {
    padding: 0 20px 20px 65px;
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    line-height: 14px;
    color: #000;
    text-align: left
}

.atb_thinclear {
    clear: both;
    height: 1px;
    font-size: 1px;
    line-height: 1px
}

.artist_headCntnr {
    background-color: #333
}

.artist_tb {
    background-color: #333;
    height: 100px
}

.artist_tbLeft {
    float: left;
    width: 431px
}

.artist_tbProd {
    float: right;
    width: 159px
}

.artist_tbToggle {
    text-align: left;
    font: 10px Verdana, Arial, Helvetica, sans-serif;
    color: #6cf;
    cursor: pointer
}

#artist_tbBtm {
    text-align: left;
    padding-top: 17px;
    background-color: #333
}

.artist_tbBtmRt {
    float: right;
    width: 432px
}

.artist_tbPhoto {
    float: left;
    width: 158px;
    text-align: left
}

.artist_tbTxt {
    text-align: left;
    padding-right: 25px;
    min-height: 159px;
    #height: 159px;
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    line-height: 14px;
    color: #FFF
}

.artist_tbCopy {
    text-align: right;
    font: 10px Verdana, Arial, Helvetica, sans-serif;
    line-height: 10px;
    color: #666;
    padding: 0 5px 5px 0
}

.thinclear {
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0
}

#gen_topblock {
    height: 185px
}

#gen_top_lft {
    float: left;
    text-align: left
}

#gen_top_rt {
    float: right
}

div#gen_learnmore_cntnr {
    padding: 10px 0 0 60px;
    font: 10px Verdana, Arial, Helvetica, sans-serif;
    color: #0072bc;
    cursor: pointer
}

div#gen_btm_cntnr {
    padding: 10px 20px 0 50px;
    font: 11px/14px Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    text-align: left
}

#gal-top-ctr {
    margin-bottom: 20px
}

.you-plus-art-sbr-gallery {
    border: 1px solid #D6D6D6;
    height: 298px;
    width: 784px;
    padding: 0;
    margin: 0;
    background-color: #FFF
}

.you-plus-art-sbr-gallery-header {
    height: 30px;
    width: 100%;
    background-color: #f1f1f1;
    font: 30px 'BebasNeueRegular', Arial, sans-serif;
    color: #000;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    line-height: 30px;
    vertical-align: central;
    text-align: center
}

.you-plus-art-sbr-gallery-body {
    background-color: transparent;
    height: 268px;
    width: 100%;
    padding: 25px
}

.you-plus-art-sbr-gallery-body .featured-room-gallery-module {
    width: 227px;
    height: 223px !important;
    min-height: 223px;
    max-height: 223px;
    display: block;
    margin: 0 25px 0 0;
    padding: 0;
    float: left
}

.featured-room-gallery-module img {
    margin: 0;
    padding: 0
}

.featured-room-gallery-module .clearThis {
    clear: both;
    height: 0;
    margin: 0;
    padding: 0;
    display: block
}

.featured-room-gallery-module ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.featured-room-gallery-module ul li {
    margin: 0;
    padding: 0
}

.featured-room-gallery-module ul li.topImage {
    margin: 0 0 10px 0;
    *margin: 0 0 8px 0;
    padding: 0;
    display: block
}

.featured-room-gallery-module ul li.featured-room-inspiration {
    height: 45px;
    padding: 0;
    display: block;
    margin: 10px 0 0 0
}

li.featured-room-inspiration .featured-room-text {
    float: right;
    display: block;
    height: 45px;
    width: 173px;
    font-family: "Times New Roman", Times, serif !important;
    font-size: 12px !important;
    color: #000;
    padding: 0;
    margin: -3px 0 0 0;
    vertical-align: top
}

li.featured-room-inspiration img {
    margin: 0 9px 0 0;
    padding: 0;
    display: block;
    float: left;
    width: 45px;
    height: 45px
}

li.featured-room-inspiration a:link {
    text-decoration: none !important;
    color: #888;
    font-style: normal !important
}

li.featured-room-inspiration a:visited {
    text-decoration: none !important;
    color: #888;
    font-style: normal !important;
    -moz-outline-style: none;
    -moz-focus-inner-border: 0;
    outline: 0;
    outline-style: none
}

li.featured-room-inspiration a:hover {
    color: #EF9223
}

li.featured-room-inspiration a:active {
    text-decoration: none !important;
    color: #888;
    font-style: normal !important;
    -moz-outline-style: none;
    -moz-focus-inner-border: 0;
    outline: 0;
    outline-style: none
}

div.popoutercontainer {
    width: 345px;
    border: 1px solid #666
}

div.poptopbar {
    width: 345px;
    height: 30px;
    background-color: #4D3227;
    cursor: move
}

div.poptitle {
    float: left;
    font: bold 12px/12px Verdana, Arial, Helvetica, sans-serif;
    color: #FFF;
    padding: 9px 0 5px 14px
}

div.closebox {
    float: right;
    width: 17px;
    height: 17px;
    padding: 6px 7px 0 0
}

div.closebox a {
    display: block;
    width: 17px;
    height: 17px;
    line-height: 17px;
    cursor: pointer
}

div.popmaincontainer {
    background-color: #E7E3DA;
    padding-bottom: 15px;
    width: 345px;
    font: bold 11px Verdana, Arial, Helvetica, sans-serif;
    color: #FFF;
    clear: both
}

div.poptxtbox {
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    padding: 20px 10px 10px 15px
}

div.popicontxtbox {
    float: left;
    width: 233px;
    font: 11px/13px Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    padding: 33px 10px 20px 10px
}

div.iconbox {
    float: left;
    width: 51px;
    height: 51px;
    padding: 20px 0 20px 27px
}

div.poperrorbox {
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    color: #F00;
    padding-left: 123px
}

div.popcaptionbox {
    font: 11px/13px Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    padding: 5px 0 0 90px
}

div.popcaptionbox2 {
    clear: both;
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    padding: 0 0 10px 137px
}

div.formlabel {
    float: left;
    width: 120px;
    font: bold 11px Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    text-align: right;
    padding: 11px 5px 0 0
}

div.formlabelstacked {
    float: left;
    width: 125px;
    font: bold 11px/11px Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    text-align: right;
    padding: 5px 5px 0 0
}

div.fieldbox {
    float: left;
    width: 172px;
    padding-top: 5px
}

div.popbtn {
    height: 25px;
    border: 1px solid #666
}

.btnlabel {
    font: bold 11px Verdana, Arial, Helvetica, sans-serif;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    padding: 5px 0 0 0
}

div.btnarrow {
    float: right;
    width: 14px;
    height: 17px;
    cursor: pointer;
    padding-top: 6px
}

div.btnarrow a {
    display: block;
    width: 14px;
    height: 25px;
    cursor: pointer
}

div.closetxt {
    width: 200px;
    font: bold 11px Verdana, Arial, Helvetica, sans-serif;
    color: #005CAC;
    text-align: center;
    margin-left: 67px;
    cursor: pointer;
    text-decoration: none
}

div.closetxt a {
    font: bold 11px Verdana, Arial, Helvetica, sans-serif;
    color: #005CAC;
    text-decoration: none
}

div.poptblecontainer {
    width: 240px;
    margin-left: 40px;
    font: 11px/13px Verdana, Arial, Helvetica, sans-serif
}

.txtfieldstyle {
    width: 170px;
    height: 22px;
    padding: 4px 3px 0 3px;
    border: 1px solid #666;
    background-color: #FFF;
    font: 11px Verdana, Arial, Helvetica, sans-serif
}

.txtgray {
    color: #666
}

div.divide {
    clear: both
}

div.btnorange {
    background: url('http://cache1.artprintimages.com/images/pub/wishlist/graphic_btn_orange.gif') repeat-x
}

div.btngray {
    background: url('http://cache1.artprintimages.com/images/pub/wishlist/graphic_btn_gray.gif') repeat-x
}

div.popEmailoutercontainer {
    width: 500px;
    border: 1px solid #666
}

div.popEmailtopbar {
    width: 500px;
    height: 30px;
    background-color: #4D3227;
    cursor: move
}

div.popEmailcontxtbox {
    float: left;
    width: auto;
    font: 11px/13px Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    padding: 33px 10px 20px 10px
}

div.popEmailmaincontainer {
    min-height: 170px;
    height: auto !important;
    height: 165px;
    background-color: #E7E3DA;
    padding-bottom: 20px;
    width: 500px
}

div.Emailiconbox {
    float: left;
    width: 51px;
    height: 51px;
    padding: 30px 0 20px 27px
}

div.Emailpopbtn {
    width: 165px;
    height: 25px;
    border: 1px solid #666;
    margin-left: auto;
    margin-right: auto
}

div.btnEmaillabel {
    float: left;
    width: 125px;
    height: 25px;
    font: bold 11px/11px Verdana, Arial, Helvetica, sans-serif;
    color: #FFF;
    text-align: justify;
    padding-top: 6px;
    padding-left: 5px
}

.jcarousel-skin-ie7 .jcarousel-container-horizontal {
    #float: left;
    #width: 100%
}

.jcarousel-skin-ie7 .jcarousel-container-horizontal {
    padding: 6px 70px
}

.jcarousel-skin-ie7 .jcarousel-clip-horizontal {
    width: 645px
}

.jcarousel-skin-ie7 .jcarousel-item {
    width: 115px;
    height: 145px;
    text-align: center;
    margin-right: 15px;
    cursor: pointer
}

.jcarousel-skin-ie7 .jcarousel-atag:visited {
    text-decoration: none
}

.jcarousel-skin-ie7 .jcarousel-atag {
    height: 145px;
    text-align: center;
    cursor: pointer;
    display: block
}

.jcarousel-skin-ie7 .jcarousel-item a img {
    border: 0
}

.jcarousel-skin-ie7 .jcarousel-item:hover, .jcarousel-skin-ie7 .jcarousel-list li:hover, .jcarousel-skin-ie7 .jcarousel-list li a:hover {
    background-color: #fff;
    border-color: #808080;
    cursor: pointer
}

.jcarousel-skin-ie7 .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 0;
    width: 13px;
    height: 23px;
    cursor: pointer;
    background: transparent url(http://cache1.artprintimages.com/images/global/art/Global_ImageSprite2.png) no-repeat -72px -76px;
    width: 13px;
    height: 23px
}

.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal, .jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    position: absolute;
    top: 43px;
    right: 0;
    width: 13px;
    height: 23px;
    background: transparent url(http://cache1.artprintimages.com/images/global/art/Global_ImageSprite2.png) no-repeat -125px -77px;
    width: 13px;
    height: 23px
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: 0;
    width: 13px;
    height: 23px;
    cursor: pointer;
    background: transparent url(http://cache1.artprintimages.com/images/global/art/Global_ImageSprite2.png) no-repeat -43px -76px;
    width: 13px;
    height: 23px
}

.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal, .jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    position: absolute;
    top: 43px;
    left: 0;
    width: 13px;
    height: 23px;
    background: transparent url(http://cache1.artprintimages.com/images/global/art/Global_ImageSprite2.png) no-repeat -95px -77px;
    width: 13px;
    height: 23px
}

.jcarousel-imgParent {
    height: 82px
}

.jcarousel-text {
    color: #888;
    margin-top: 10px;
    margin: 20px 0 0 0 \9
}

.jcarousel-text:hover {
    color: #ef9223
}

.jcarousel-text:hover .jcarousel_nodeco_text {
    color: #888
}

.jcarousel-text span {
    text-decoration: underline
}

.jcarousel_nodeco_text {
    text-decoration: none !important
}

.seeallhide {
    display: none
}

.jcarousel-container {
    position: relative
}

.jcarousel-clip {
    z-index: 2;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative
}

.jcarousel-list {
    z-index: 1;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0
}

.jcarousel-list li, .jcarousel-item {
    float: left;
    list-style: none
}

.jcarousel-next {
    z-index: 3;
    display: none
}

.jcarousel-prev {
    z-index: 3;
    display: none
}

.itemBoxSeeMore {
    text-align: center;
    padding-left: 10px;
    font-size: 18px;
    padding-top: 20px;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    color: #000
}

.infoIconArTop {
    float: left;
    background: url('http://cache1.artprintimages.com/images/global/art/Global_ImageSprite2.png') no-repeat -303px -21px;
    width: 16px;
    height: 16px;
    margin-top: 3px;
    cursor: pointer
}

.arTop {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    margin-left: 10px
}

.arTop li {
    float: left;
    list-style-type: none;
    padding-left: 15px;
    #padding-bottom: 15px
}

.arTopDimension {
    color: #666;
    padding-top: 23px;
    height: 70px
}

.imgParentContainerTop {
    height: 86px;
    margin-bottom: 5px;
    #padding-bottom: 15px;
    width: 80px;
    #width: 80px
}

.arTopHeader {
    background: #F1F1F1;
    border-bottom: 1px solid #D6D6D6;
    color: #000;
    font-size: 24px;
    height: 25px;
    padding: 2px 0 5px;
    text-align: center
}

#arTopModule {
    border: 1px solid #d6d6d6;
    #width: 784px;
    width: 782px;
    margin-bottom: 24px;
    display: none
}

#arTopModule .arTopBlock {
    width: 430px;
    height: 30px;
    margin-left: 187px
}

.jcarousel-no-scroll .jcarousel-item {
    width: 65px;
    height: 80px
}

.arBottomModule {
    height: 276px;
    margin-top: 30px;
    border: 1px solid #D6D6D6
}

.imgParentContainer {
    height: 206px;
    margin-bottom: 10px;
    margin-top: -5px;
    padding-top: 20px;
    width: 176px;
    #width: 180px;
    margin-left: 20px
}

.imgSeperatorNoBorder {
    border-right: 0 solid #BBB
}

.arBottomCarouselHeader {
    color: #000;
    font-size: 24px;
    height: 24px;
    text-transform: uppercase;
    width: 412px;
    margin-left: 187px
}

.arBottomBlock {
    background: #F1F1F1;
    border-bottom: 1px solid #D6D6D6;
    height: 30px;
    overflow: hidden;
    padding-top: 2px
}

.infoIcon {
    float: left;
    background: url('http://cache1.artprintimages.com/images/global/art/Global_ImageSprite2.png') no-repeat -303px -21px;
    width: 16px;
    height: 16px;
    margin-top: 5px
}

.logoIcon {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -2px;
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/arlogo.png') no-repeat 0 0
}

.toplogoIcon {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -2px
}

.headerTitle {
    float: left
}

.imageItem {
    display: inline;
    cursor: pointer
}

.itemBox {
    cursor: pointer
}

.imageItem:hover {
    cursor: pointer
}

.arTitle {
    color: #000;
    padding-top: 5px;
    padding: 15px 0 0 0 \9;
    float: left;
    width: 100%;
    cursor: pointer;
    font-size: 12px
}

.arArtist {
    padding-top: 3px;
    float: left;
    width: 100%;
    height: 5px
}

.seeMoreImg {
    padding-top: 25px
}

.jcarousel-skin-ar {
    list-style-type: none;
    float: left;
    padding: 0;
    margin: 0
}

.jcarousel-skin-ar li {
    list-style-type: none;
    background-color: #fff
}

.jcarousel-skin-ar .jcarousel-container {
    border: 1px solid #fff;
    #width: 100%
}

.jcarousel-skin-ar .jcarousel-direction-rtl {
    direction: rtl
}

.jcarousel-skin-ar .jcarousel-container-horizontal {
    width: 710px;
    padding: 0 35px;
    margin: 20px 0;
    #width: 710px;
    #padding: 0 32px;
    #margin: 20px 0;
    #width: 100%
}

.jcarousel-skin-ar .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
    #padding: 40px 10px
}

.jcarousel-skin-ar .jcarousel-clip {
    overflow: hidden
}

.jcarousel-skin-ar .jcarousel-clip-horizontal {
    width: 720px;
    #width: 710px;
    height: 206px
}

.jcarousel-skin-ar .jcarousel-clip-vertical {
    width: 75px;
    height: 300px
}

.jcarousel-skin-ar .jcarousel-item {
    width: 160px;
    height: 206px
}

.jcarousel-skin-ar .jcarousel-item:hover {
    background-color: White !important
}

.jcarousel-skin-ar .jcarousel-item-horizontal {
    margin-left: 0
}

.jcarousel-skin-ar .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-right: 0
}

.jcarousel-skin-ar .jcarousel-item-placeholder {
    background: #fff;
    color: #000
}

.jcarousel-skin-ar .jcarousel-next-horizontal {
    position: absolute;
    top: 80px;
    right: 14px;
    width: 13px;
    height: 23px;
    cursor: pointer;
    background: transparent url(http://cache1.artprintimages.com/images/global/art/Global_ImageSprite2.png) no-repeat -72px -76px;
    width: 13px;
    height: 23px
}

.jcarousel-skin-ar .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png)
}

.jcarousel-skin-ar .jcarousel-next-disabled-horizontal, .jcarousel-skin-ar .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-ar .jcarousel-next-disabled-horizontal:focus, .jcarousel-skin-ar .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background: transparent url(http://cache1.artprintimages.com/images/global/art/Global_ImageSprite2.png) no-repeat -125px -77px;
    width: 13px;
    height: 23px
}

.jcarousel-skin-ar .jcarousel-prev-horizontal {
    position: absolute;
    top: 80px;
    left: 14px;
    width: 13px;
    height: 23px;
    cursor: pointer;
    background: transparent url(http://cache1.artprintimages.com/images/global/art/Global_ImageSprite2.png) no-repeat -43px -76px;
    width: 13px;
    height: 23px
}

.jcarousel-skin-ar .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px
}

.jcarousel-skin-ar .jcarousel-prev-disabled-horizontal, .jcarousel-skin-ar .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-ar .jcarousel-prev-disabled-horizontal:focus, .jcarousel-skin-ar .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background: transparent url(http://cache1.artprintimages.com/images/global/art/Global_ImageSprite2.png) no-repeat -95px -77px;
    width: 13px;
    height: 23px
}

.arModuleToolTip {
    border: 1px solid #c6c6c6;
    width: 355px;
    background-color: #fff;
    padding-bottom: 27px;
    padding-left: 22px;
    padding-top: 20px
}

.arcontainer {
    position: absolute;
    margin-left: 629px !important;
    z-index: 2
}

.tooltipClose {
    background: url('http://cache1.artprintimages.com/images/global/art/Global_ImageSprite2.png') no-repeat -218px -22px;
    height: 13px;
    margin-top: -10px;
    margin-left: 328px;
    cursor: pointer
}

.arLogo {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/arlogo.png') no-repeat 0 0;
    margin-left: 467px;
    margin-top: -31px;
    height: 30px;
    width: 115px
}

.artooltip-logo {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/arlogo.png') no-repeat 0 0;
    height: 30px;
    width: 115px
}

.outercontainer {
    margin-top: -10px;
    width: 320px
}

#inner {
    font-family: Helvetica Neue, Arial;
    color: #4c3327;
    font-size: 16px;
    font-weight: bold
}

.bodycopy {
    margin-right: 10px;
    margin-top: 10px;
    #margin-top: 0
}

.lineseperator {
    border-top: 1px solid #e7e2d9;
    margin-left: 6px;
    width: 315px;
    height: 1px
}

.arheader-container {
    border-bottom: 1px solid #E2E2E2;
    height: 28px
}

.arlink {
    text-decoration: underline !important;
    color: #888
}

.arlink.hover {
    cursor: pointer;
    color: #ef9223
}

.jcarousel-skin-ar .wrap1 {
    margin-left: 18px
}

.arProductContainer {
    position: absolute;
    border: 1px solid #e2e2e2;
    width: 832px;
    height: 636px;
    background-color: #fff
}

.arheader {
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 28px;
    margin-left: 184px
}

.arProductDetails {
    width: 830px;
    height: 607px;
    border: 0;
    border-left: 0;
    padding-right: 3px
}

.arClose {
    background: url("http://cache1.artprintimages.com/images/global/art/Global_ImageSprite2.png") no-repeat scroll -218px -22px transparent;
    float: right;
    height: 18px;
    width: 18px;
    #margin-right: -10px;
    cursor: pointer;
    margin-left: 67px;
    margin-top: -20px
}

.arProductDetailsContainer {
    width: 830px;
    height: 607px
}

.ar-module-info-splash {
    color: #005a93
}

.itemBox_miniitem_bg {
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat
}

.itemBox_aritem_bg {
    background-position: center;
    background-repeat: no-repeat
}

.armodulelogo {
    width: 115px;
    height: 30px
}

a:link {
    text-decoration: none
}

a:visited {
    text-decoration: none
}

.leftnav-header {
    font-weight: bold;
    padding: 7px 2px 3px 0
}

.clrallbtn {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -149px -25px;
    width: 10px;
    height: 12px;
    cursor: pointer
}

.clrallbtn.hover {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -149px -38px;
    width: 10px;
    height: 12px;
    cursor: pointer;
    border: 0
}

.leftnav-clrall {
    font-size: 12px;
    color: #888;
    text-transform: uppercase;
    cursor: pointer
}

.clrall {
    font-size: 11px
}

.leftnav-category-header {
    font-size: 11px;
    color: #000
}

.leftnav-category-header h2 {
    font-size: 11px;
    margin: 0
}

.leftnav-header {
    font-weight: bold;
    padding: 0 0 0 0 !important
}

.leftnav-narrowres {
    font: 20px 'BebasNeueRegular', Arial, sans-serif;
    color: #000;
    margin-top: 5px
}

.leftnav-clrsel-header {
    line-height: 22px
}

.clrsel-btn {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -149px -25px;
    width: 10px;
    height: 12px;
    cursor: pointer;
    margin-top: 4px
}

.clrsel-btn.hover {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -149px -38px;
    width: 10px;
    height: 12px;
    cursor: pointer;
    margin-top: 4px;
    border: 0
}

.gFltLeft {
    float: left
}

.gFltRight {
    float: right
}

.catlnk {
    color: #888;
    text-decoration: none;
    cursor: pointer
}

.catlnkover {
    color: #ef9223;
    text-decoration: none;
    cursor: pointer
}

.mod_clr_swtch {
    width: 49px;
    height: 18px;
    cursor: pointer;
    margin: 2px 2px;
    float: left
}

.nullswtch {
    filter: alpha(opacity=10);
    -moz-opacity: .10;
    opacity: .10;
    cursor: default
}

.redswtch {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -28px -174px;
    width: 58px;
    height: 22px
}

.orangeswtch {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -88px -174px;
    width: 58px;
    height: 22px
}

.yellowswtch {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -148px -174px;
    width: 58px;
    height: 22px
}

.greenswtch {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -28px -198px;
    width: 58px;
    height: 22px
}

.blueswtch {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -88px -198px;
    width: 58px;
    height: 22px
}

.purpleswtch {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -148px -198px;
    width: 58px;
    height: 22px
}

.pinkswtch {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -28px -220px;
    width: 58px;
    height: 22px
}

.brownswtch {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -88px -220px;
    width: 58px;
    height: 22px
}

.blackswtch {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -148px -220px;
    width: 58px;
    height: 22px
}

.beigeswtch {
    background: #FFF url('http://cache1.artprintimages.com/images/pub/navigation/left_nav/swatch_beige.gif') no-repeat center center
}

.leftnav-box {
    width: 199px;
    margin: 0
}

.leftnav-header-Accordian {
    font-weight: bold;
    text-transform: uppercase;
    margin: 19px 0 5px 0;
    line-height: 13px
}

.leftnav-childli {
    margin-left: 10px;
    line-height: 22px
}

.leftnav-ul {
    padding: 0;
    list-style-type: none;
    line-height: 22px;
    margin: 0
}

.leftnav-ul-indent {
    padding: 0 0 0 30px;
    margin: 0;
    list-style-type: none;
    line-height: 22px
}

.leftnav-ul-indent-level1 {
    padding: 0 0 0 20px;
    margin: 0;
    list-style-type: none;
    line-height: 22px
}

.leftnav-ul-noindent {
    padding: 0;
    margin: 0 0 0 10px;
    margin: 0 0 0 14px \9;
    list-style-type: none;
    line-height: 22px
}

.leftnav-subtitle {
    margin-left: 20px;
    line-height: 22px;
    color: #000
}

.leftnav-subtitle h2 {
    margin: 0;
    padding: 0;
    font-size: 12px
}

.leftnav-subtitle-noindent {
    margin-left: 10px;
    line-height: 22px;
    color: #000
}

.leftnav-selected-text {
    font-weight: bold;
    color: #000;
    line-height: 22px
}

.selectedswtch {
    width: 49px;
    height: 18px;
    float: left;
    cursor: auto;
    margin-left: 10px
}

.gBld {
    font-weight: bold
}

.gTxtLtGray {
    color: #e1e1e1
}

.scroll-pane:focus {
    outline: 0
}

#pane2 .jspContainer {
    overflow: hidden;
    position: relative
}

#pane2 .jspPane {
    position: absolute
}

#pane2 .jspVerticalBar {
    background: none repeat scroll 0 0 white;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #d6d6d6;
    width: 18px
}

#pane2 .jspHorizontalBar {
    background: none repeat scroll 0 0 red;
    bottom: 0;
    height: 16px;
    left: 0;
    position: absolute;
    width: 100%
}

#pane2 .jspVerticalBar *, .jspHorizontalBar * {
    margin: 0;
    padding: 0
}

#pane2 .jspCap {
    display: none
}

#pane2 .jspHorizontalBar .jspCap {
    float: left
}

#pane2 .jspTrack {
    background: none repeat scroll 0 0 #FFF;
    position: relative
}

#pane2 .jspDrag {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -114px -26px;
    width: 18px;
    height: 25px;
    border-radius: 0 0 0 0 xp;
!important;
    cursor: pointer;
    left: 0;
    position: relative;
    top: 0;
    height: 25px
}

#pane2 .jspDrag:hover {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -114px -54px;
    width: 18px;
    height: 25px;
    cursor: pointer;
    left: 0;
    position: relative;
    top: 0;
    height: 25px
}

#pane2 .jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
    float: left;
    height: 100%
}

#pane2 .jspArrow {
    background: none repeat scroll 0 0 #50506D;
    cursor: pointer;
    display: block;
    text-indent: -20000px
}

#pane2 .jspVerticalBar .jspArrow {
    height: 18px
}

#pane2 .jspHorizontalBar .jspArrow {
    float: left;
    height: 100%;
    width: 16px
}

#pane2 .jspVerticalBar .jspArrow:focus {
    outline: medium none
}

#pane2 .jspCorner {
    background: none repeat scroll 0 0 #EEEEF4;
    float: left;
    height: 100%
}

#pane2 a.jspArrowUp {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -93px -26px;
    width: 18px;
    height: 18px
}

#pane2 a.jspArrowUp:hover {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -93px -47px;
    width: 18px;
    height: 18px
}

#pane2 .jspVerticalBar a.jspArrowDown {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -72px -26px;
    width: 18px;
    height: 18px
}

#pane2 a.jspArrowDown:hover {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -72px -47px;
    width: 18px;
    height: 18px
}

html .jspCorner {
    margin: 0 -3px 0 0
}

#pane1 .jspContainer {
    overflow: hidden;
    position: relative
}

#pane1 .jspPane {
    position: absolute
}

#pane1 .jspVerticalBar {
    background: none repeat scroll 0 0 white;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #d6d6d6;
    width: 18px
}

#pane1 .jspHorizontalBar {
    background: none repeat scroll 0 0 red;
    bottom: 0;
    height: 16px;
    left: 0;
    position: absolute;
    width: 100%
}

#pane1 .jspVerticalBar *, .jspHorizontalBar * {
    margin: 0;
    padding: 0
}

#pane1 .jspCap {
    display: none
}

#pane1 .jspHorizontalBar .jspCap {
    float: left
}

#pane1 .jspTrack {
    background: none repeat scroll 0 0 #FFF;
    position: relative
}

#pane1 .jspDrag {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -114px -26px;
    width: 18px;
    height: 25px;
    border-radius: 0 0 0 0 xp;
!important;
    cursor: pointer;
    left: 0;
    position: relative;
    top: 0;
    height: 25px
}

#pane1 .jspDrag:hover {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -114px -54px;
    width: 18px;
    height: 25px;
    cursor: pointer;
    left: 0;
    position: relative;
    top: 0;
    height: 25px
}

#pane1 .jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
    float: left;
    height: 100%
}

#pane1 .jspArrow {
    background: none repeat scroll 0 0 #50506D;
    cursor: pointer;
    display: block;
    text-indent: -20000px
}

#pane1 .jspVerticalBar .jspArrow {
    height: 18px
}

#pane1 .jspHorizontalBar .jspArrow {
    float: left;
    height: 100%;
    width: 16px
}

#pane1 .jspVerticalBar .jspArrow:focus {
    outline: medium none
}

#pane1 .jspCorner {
    background: none repeat scroll 0 0 #EEEEF4;
    float: left;
    height: 100%
}

#pane1 a.jspArrowUp {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -93px -26px;
    width: 18px;
    height: 18px
}

#pane1 a.jspArrowUp:hover {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -93px -47px;
    width: 18px;
    height: 18px
}

#pane1 .jspVerticalBar a.jspArrowDown {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -72px -26px;
    width: 18px;
    height: 18px
}

#pane1 a.jspArrowDown:hover {
    background: url('http://cache1.artprintimages.com/images/pub/gallerypage/Gallery_ImageSprite_orange_v1.png') no-repeat -72px -47px;
    width: 18px;
    height: 18px
}

#galleft #pane2 .jspVerticalBar {
    display: none
}

@media only screen and (min-width: 768px) and (max-width: 1064px) {
    .leftnav-childli {
        margin-left: 10px;
        line-height: 28px
    }

    .leftnav-ul {
        padding: 0;
        list-style-type: none;
        line-height: 28px;
        margin: 0
    }

    .leftnav-ul-indent {
        padding: 0 0 0 30px;
        margin: 0;
        list-style-type: none;
        line-height: 28px
    }

    .leftnav-ul-indent-level1 {
        padding: 0 0 0 20px;
        margin: 0;
        list-style-type: none;
        line-height: 28px
    }

    .leftnav-ul-noindent {
        padding: 0;
        margin: 0 0 0 10px;
        margin: 0 0 0 14px \9;
        list-style-type: none;
        line-height: 28px
    }

    .leftnav-subtitle {
        margin-left: 20px;
        line-height: 28px;
        color: #000
    }

    .leftnav-subtitle-noindent {
        margin-left: 10px;
        line-height: 28px;
        color: #000
    }

    .leftnav-selected-text {
        font-weight: bold;
        color: #000;
        line-height: 22px
    }
}